{% extends "article/base.html" %}
{% load static %}

{% block script %}
  <script src="{% static 'main.js' %}"></script>
{% endblock script %}

{% block style %}
  <style>

    :root {
      --dark-blue: rgb(27, 52, 116);
    }

    * {
      box-sizing: border-box;
    }

    html, body, main {
      /* Fill the screen. */
      width: 100%;
      height: 100%;
      /* Remove all margins and paddings. */
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }

    body, main {
      display: flex;
      flex-direction: column;
    }

    main {
      /* Set background image. */
      background-image: url("{% static 'photos/pens.jpg' %}");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      /* Align items */
      align-items: center;
    }

    .content-container {
      width: 1000px;
      height: 600px;
      max-width: 100%;
      max-height: 100%;
      margin: 20px;
      background-color: rgba(230, 230, 230, 78%);
      box-shadow: rgb(0 0 0 / 25%) 2px 2px 5px;
    }

    .blue-text {
      color: var(--dark-blue);
    }

    .white-text {
      color: white;
    }

  </style>
{% endblock %}

{% block navbar_heading %}

{% endblock %}

{% block content %}
  <div class="content-container d-flex flex-column justify-content-center align-items-center flex-grow-1">
    <h1 class="blue-text">Welcome!</h1>
    <h3 class="mb-5">{{ request.session.username|upper }}</h3>

    <div class="d-flex flex-wrap justify-content-center">
      <a href="{% url 'generate_article:client-profile' %}" class="mx-3">
        <div>
          <i class="fa-solid fa-user fa-6x m-3"></i>
          <div class="text-center fw-bold">View Client's Profile</div>
        </div>
      </a>

      <a href="{% url 'generate_article:social_media_channels' %}" class="mx-3">
        <div>
          <i class="fa-solid fa-envelopes-bulk fa-6x m-3"></i>
          <div class="text-center fw-bold">Social Media Channels</div>
        </div>
      </a>

      <a href="{% url 'generate_article:target_cities' %}" class="mx-3">
        <div>
          <i class="fa-solid fa-map-location-dot fa-6x m-3"></i>
          <div class="text-center fw-bold">Targeted Cities</div>
        </div>
      </a>

      <a href="{% url 'generate_article:user-approval' %}" class="mx-3">
        <div>
          <i class="fa-solid fa-user-check fa-6x m-3"></i>
          <div class="text-center fw-bold">Approval by clients</div>
        </div>
      </a>
      <a href="{% url 'generate_article:user-approval' %}" class="mx-3">
        <div>
          <i class="fa-solid fa-user fa-6x m-3"></i>
          <div class="text-center fw-bold">View Team</div>
        </div>
      </a>
    </div>
  </div>
{% endblock %}