@tailwind base;
@tailwind components;
@tailwind utilities;

/* body,
html,
* {
  scrollbar-gutter: stable;
} */

.icons8-clock {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAsMCwyNTYsMjU2IgpzdHlsZT0iZmlsbDojMDAwMDAwOyI+CjxnIGZpbGwtb3BhY2l0eT0iMC40ODYyNyIgZmlsbD0iIzAwMDAwMCIgZmlsbC1ydWxlPSJub256ZXJvIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9ImJ1dHQiIHN0cm9rZS1saW5lam9pbj0ibWl0ZXIiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLWRhc2hhcnJheT0iIiBzdHJva2UtZGFzaG9mZnNldD0iMCIgZm9udC1mYW1pbHk9Im5vbmUiIGZvbnQtd2VpZ2h0PSJub25lIiBmb250LXNpemU9Im5vbmUiIHRleHQtYW5jaG9yPSJub25lIiBzdHlsZT0ibWl4LWJsZW5kLW1vZGU6IG5vcm1hbCI+PGcgdHJhbnNmb3JtPSJzY2FsZSgxMC42NjY2NywxMC42NjY2NykiPjxwYXRoIGQ9Ik0xMiwyYy01LjUyMywwIC0xMCw0LjQ3NyAtMTAsMTBjMCw1LjUyMyA0LjQ3NywxMCAxMCwxMGM1LjUyMywwIDEwLC00LjQ3NyAxMCwtMTBjMCwtNS41MjMgLTQuNDc3LC0xMCAtMTAsLTEwek0xNS4yOTMsMTYuNzA3bC00LjI5MywtNC4yOTN2LTYuNDE0aDJ2NS41ODZsMy43MDcsMy43MDd6Ij48L3BhdGg+PC9nPjwvZz4KPC9zdmc+") 50% 50% no-repeat;
  background-size: 100%;
}


.image-container {
  position: relative;
  display: inline-block;
  max-width: 441px;
}

.img-overlay {
  position: absolute;
  right: 0;
  z-index: 5;
  top: 10px;
  right: 10px;
  /* display: none; */
}

.show-overlay {
  display: block;
}

.post-img {
  border-radius: 6px;
  min-width: 100%;
}

.glass-button {
  display: inline-block;
  padding: 5px 10px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  color: rgb(4 7 81 / 80%);
  font-size: 11px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 700;
  /* width: 25px; */
}

.glass-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}