aiohttp==3.8.4
aiosignal==1.3.1
ansicon==1.89.0
arrow==1.2.3
asgiref==3.7.2
async-timeout==4.0.2
attrs==23.1.0
autopep8==2.0.2
beautifulsoup4==4.12.2
blessed==1.20.0
certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
Django==3.2.7
django-bootstrap-datepicker-plus==5.0.3
django-bootstrap4==23.1
django-bower==5.2.0
django-cors-headers==4.0.0
django-crispy-forms==2.0
django-environ==0.10.0
django-filter==23.2
django-formtools==2.4.1
django-jquery==3.1.0
django-npm==1.0.0
django-picklefield==3.1
django-q==1.3.9
django-silk==5.0.3
django-tempus-dominus==5.1.2.17
djangorestframework==3.14.0
djongo==1.3.6
dnspython==2.3.0
filelock==3.13.1
frozenlist==1.3.3
fsspec==2023.12.2
gprof2dot==2022.7.29
huggingface-hub==0.20.2
idna==3.4
Jinja2==3.1.3
jinxed==1.2.0
Markdown==3.4.3
MarkupSafe==2.1.3
mega.py==1.0.8
mpmath==1.3.0
multidict==6.0.4
networkx==3.2.1
numpy==1.26.3
openai==0.27.7
packaging==23.2
pathlib==1.0.1
pexels-api==1.0.1
Pillow==9.5.0
pycodestyle==2.10.0
pycryptodome==3.18.0
pydantic==1.10.8
PyJWT==2.8.0
pymongo==4.3.3
python-dateutil==2.8.2
python-decouple==3.8
pytz==2023.3
PyYAML==6.0.1
redis==3.5.3
regex==2023.12.25
requests==2.31.0
safetensors==0.4.1
six==1.16.0
social-post-api==1.1.1
sorl-thumbnail==12.9.0
soupsieve==2.4.1
sqlparse==0.2.4
sympy==1.12
tenacity==5.1.5
tokenizers==0.15.0
tomli==2.0.1
torch==2.1.2+cpu; python_version >= "3.7" and python_version < "3.11"
torchvision==0.16.2+cpu; python_version >= "3.7" and python_version < "3.11"
tqdm==4.65.0
transformers==4.36.2
typing_extensions==4.6.3
urllib3==2.0.2
wcwidth==0.2.6
Wikipedia-API==0.5.8
yarl==1.9.2
pandas
