{% extends "article/base.html" %}
{% load static %}

{% block script %}
<script src="{% static 'main.js' %}"></script>
{% endblock script %}
{% block content %}
{% load appname_tags %}
<!--new comments page-->
<style type="text/css">
		.grid-container3
		{
			display: grid;
			grid-template-columns: 10% 90%;
			grid-template-rows: 5fr 95fr;
		}
		.item1
		{
			background-color: #203474;
			grid-column-start: 1;
			grid-column-end: 3;
		}
		.item2
		{
			background-color: #e8e4e4;
			text-align: center;
			grid-column-start: 1;
			grid-column-end: 2;
		}
		.mylist
		{
			display: flex;
			list-style: none;
			padding: 5px;
			color: white;
		}
		.form-elt-bgcolor
		{
			background-color: #e0e4fc;
		}
		.form-elt-label
		{
			color: #203474;
			font-weight: bold;
		}
		span.content {
            width: 100px;
            height: 100px;
            position:relative;
            padding:15px;
            box-sizing:border-box;
            border-color:purple;
        }
	</style>
	<script>
       function chooseFile() {
          $("#logo").click();
       }
    </script>
	<div class="grid-container3">
		<div class="item item1">
			<ul class="mylist">
				<li>
				    <a href="#" style="color:white;">
						<i class="fa-solid fa-arrow-left-long fa-xl"></i>
						{{ request.session.username|upper }}
					</a>
				</li>
				<!--<li>User Name <i class="fa-solid fa-circle-user fa-xl"></i></li>-->
			</ul>
		</div>
		<div class="item item2">
			<div style=	"margin-top:20%;">
				<a href="#">
				    <span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-user-check fa-2xl"></i></span>
				    <h6 style="padding-top:20px;">Topic</h6>
				</a>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-file-signature fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Article</h6>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-calendar-check fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Post</h6>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-calendar-days fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Schedule</h6>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-color:white; border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-comment fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Comment</h6>
			</div>
		</div>
<div>
<div class="container">

	<form class="" id="titleForm" action="{% url 'generate_article:client-profile-form' %}" method="post" onsubmit='showLoading();'>
	     {% csrf_token %}
	    <div class="row">
	        <div class="col-md-2"></div>
	        <div class="col-md-8 text-center">
	            <i class="fa-solid fa-user-large fa-4x m-2"></i>
		    </div>
		    <div class="col-md-2"></div>
	    </div>

	    <div class="row">
	        <div class="col-md-2"></div>
	        <div class="col-md-8 text-center">
	            {{ request.session.username|upper }}
		    </div>
		    <div class="col-md-2"></div>
	    </div>

	    <div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
			    <label class="form-elt-label">Address</label>
				<input type="text" class="form-control mb-2" name="address" id="address" placeholder="Enter your address">
			</div>
			<div class="col-md-2"></div>
		</div>

        <div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
			    <label class="form-elt-label">Business</label>
				<input type="text" class="form-control mb-2" name="business" id="business" placeholder="Enter your business">
			</div>
			<div class="col-md-2"></div>
		</div>

		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
			    <label class="form-elt-label">Product</label>
				<input type="text" class="form-control mb-2" name="product" id="product" placeholder="Enter your products">
			</div>
			<div class="col-md-2"></div>
		</div>
        <div style="height:0px;overflow:hidden">
                <input type="file" id="logo" name="logo" accept="image/*" />
            </div>
        <div class="row">
			<div class="col-md-4"></div>

			<div class="col-md-4">
				<br>
				<button type='button' class="form-control btn  btn-primary my-btn-primary" style="background: #203474; font-weight: bolder;" onclick="chooseFile();">Upload Logo</button>
			</div>
			<div class="col-md-4"></div>
		</div>

		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<br>
				<button type='submit' class="form-control btn  btn-primary my-btn-primary" style="background: #203474; font-weight: bolder;">Submit</button>
			</div>
			<div class="col-md-4"></div>
		</div>
	</form>
</div>
</div>
</div>
{% endblock content %}
