{% extends "article/base_background.html" %}
{% load static %}

{% block script %}
  {{ block.super }}
  <script>
     function chooseFile() {
        $("#logo").click();
     }
  </script>
{% endblock %}

{% block style %}
  {{ block.super }}
  <style type="text/css">
    form {
      width: 400px;
      max-width: 90%;
    }

    .btn-dark-blue {
      color: white;
      background-color: var(--dark-blue);
      border-color: var(--dark-blue);
    }

    .btn-dark-blue:hover {
      color: white;
      background-color: rgb(20, 38, 85);
    }
  </style>
{% endblock %}

{% block navbar_heading %}
  Client's Profile
{% endblock %}

{% block stuff %}
  <div class="mb-3 text-center">
    <i class="fa-solid fa-circle-user fa-4x m-2"></i>
    <h2 class="blue-text">{{ request.session.username  | capfirst }}</h2>
  </div>

  <form id="titleForm" action="{% url 'generate_article:client-profile-form' %}" method="post" onsubmit='showLoading();'>
    {% csrf_token %}
    <div class="mb-3">
      <label for="address">Address</label>
      <input type="text" class="form-control" name="address" id="address" placeholder="Enter your address" required>
    </div>
    <div class="mb-3">
      <label for="business">Business</label>
      <input type="text" class="form-control" name="business" id="business" placeholder="Enter your business" required>
    </div>
    <div class="mb-3">
      <label for="product">Product</label>
      <input type="text" class="form-control" name="product" id="product" placeholder="Enter your products" required>
    </div>
    <div class="mb-3">
      <label for="logo" hidden>Logo</label>
      <input type="file" id="logo" name="logo" accept="image/*" hidden required>
      <button type='button' class="btn btn-dark-blue" onclick="chooseFile();">Upload Logo</button>
    </div>
    <div class="text-center">
      <button type='submit' class="btn btn-dark-blue">Submit</button>
    </div>
  </form>
{% endblock %}