{% extends "user_info_base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5 mb-5 pt-3 pb-3" style="background-color: #F3F4F7;">
<div class="list-group list-group-flush">
<div class="justify-content-center" style="color: #1434A4"><h1>User's Information</h1></div>
{% if not user %}
  <h4>No user details found</h4>
  {% else %}
  {% load appname_tags %}
    <p>User ID: {{user.user_id}}</p>
    <p>User Name: {{user.user_name}}</p>
    <p>User's Plan: {{user.plan}}</p>
    <p>Current Balance: {{user.current_balance}}</p>
    <h4>User's Profile</h4>
    <p>Address: {{user.profile.address}}</p>
    <p>Business: {{user.profile.business}}</p>
    <p>Products: {{user.profile.products}}</p>
    <p>Logo: {{user.profile.logo}}</p>
    <h4>User's Approvals</h4>
    <p>Topic: {{user.approvals.topic}}</p>
    <p>Post: {{user.approvals.post}}</p>
    <p>Article: {{user.approvals.article}}</p>
    <p>Schedule: {{user.approvals.schedule}}</p>
    <h2>Social Media Channels</h2>
    <h4>Facebook</h4>
    <p>Page ID: {{user.facebook.page_id}}</p>
    <p>Page Link: {{user.facebook.page_link}}</p>
    <p>Password: {{user.facebook.password}}</p>
    <p>Number of Posts Per Day: {{user.facebook.posts_per_day}}</p>
    <h4>Twitter</h4>
    <p>Page ID: {{user.social_media_channels.twitter.page_id}}</p>
    <p>Page Link: {{user.twitter.page_link}}</p>
    <p>Password: {{user.twitter.password}}</p>
    <p>Number of Posts Per Day: {{user.twitter.posts_per_day}}</p>
    <h4>Instagram</h4>
    <p>Page ID: {{user.instagram.page_id}}</p>
    <p>Page Link: {{user.instagram.page_link}}</p>
    <p>Password: {{user.instagram.password}}</p>
    <p>Number of Posts Per Day: {{user.instagram.posts_per_day}}</p>
    <h4>LinkedIn</h4>
    <p>Page ID: {{user.linkedin.page_id}}</p>
    <p>Page Link: {{user.linkedin.page_link}}</p>
    <p>Password: {{user.linkedin.password}}</p>
    <p>Number of Posts Per Day: {{user.linkedin.posts_per_day}}</p>
    <h4>Youtube</h4>
    <p>Page ID: {{user.youtube.page_id}}</p>
    <p>Page Link: {{user.youtube.page_link}}</p>
    <p>Password: {{user.youtube.password}}</p>
    <p>Number of Posts Per Day: {{user.youtube.posts_per_day}}</p>
{% endif %}
</div>
</div>
{% endblock content %}