{% extends "user_info_base.html" %} {% load static %} {% block content %}

<div class="container mt-5 mb-5 pt-3 pb-3" style="background-color: #f3f4f7">
  <div class="list-group list-group-flush">
    <div class="justify-content-center" style="color: #1434a4">
      <h1>User's Information</h1>
    </div>
    <p>
      {{page_obj.start_index}}-{{page_obj.end_index}} of
      {{page_obj.paginator.count}}
    </p>

    <table class="table table-striped table-hover">
      {% load appname_tags %}
      <thead>
        <tr>
          <th scope="col">User ID</th>
          <th scope="col">User Name</th>
          <th scope="col">Plan</th>
          <th scope="col">Current Balance</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>
        {% for user in page_obj %}
        <tr>
          <td>{{user.user_id|default:"User Detail"}}</td>
          <td>{{user.user_name|default:"-"}}</td>
          <td>{{user.plan|default:"-"}}</td>
          <td>{{user.current_balance|default:"-"}}</td>
          <td>
            <a
              href="{% url 'generate_article:user-detail' id=user|mongo_id %}"
              class="btn btn-dark"
              >Details</a
            >
          </td>
          <!--<th scope="row"><a href="">{{file.email|default:"Exhibitor Detail"}}</a></th>-->
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="pagination justify-content-center">
      <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
  </div>
</div>
{% endblock content %}
