:root {
  --dark-blue: rgb(27, 52, 116);
}

.navbar {
  background-color: var(--dark-blue);
  opacity: 95%;
}

.navbar-brand {
  font-weight: bold;
  color: white;
}

.sercDIV {
  width: 50%;
  flex-direction: row;
  margin-left: 10px;
}

.input-group-text {
  height: 38px;
  font-size: 20px;
  width: fit-content;
  padding: 0px;
  background-color: #36519e;
  border: 0;
}

.btn {
  border: none;
  background-color: transparent;
  color: white;
  margin-right: 5px;
}

.btn:hover {
  color: lightgray;
}

.dropdown > a.nav-link {
  color: white;
}

#nav-username {
  margin-right: 5px;
  font-size: large;
  color: white;
}

@media only screen and (max-width: 500px) {
  .top-drop-mn {
    margin-left: 90px;
  }
}

.custom-notification {
  position: fixed;
  top: 15%;
  right: 35%;
  transform: translateY(-50%);
  margin-bottom: 10px;
  z-index: 9999;
  animation: slideIn 0.8s ease-in-out;
}

.notification {
  width: auto;
  background-color: rgba(245, 245, 245, 0.8);
  /* Adjust the alpha value for transparency */
  padding: 6px;
  font-style: italic;
  margin-top: 10px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Add a box shadow */
}

.notification::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: var(--after-width, 100%);
  transition: width 0.2s linear;
  /* Adjust the duration as needed */
  height: 4px;
  background-color: green;
}

.notification.timeout::after {
  animation: decreaseWidth 5s linear forwards;
  /* Adjust the duration as needed */
}

.close-button {
  font-size: 18px;
  background: transparent;
  border: none;
  cursor: pointer;
}

@keyframes decreaseWidth {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #0a58ca;
  color: white;
  border-radius: 90px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 50px;
}

.btn-secondary {
  background-color: #6c757d;
}

.btn-primary {
  background-color: #0d6efd;
}

.btn-dark {
  background-color: #212529;
}
