{% extends "article/base.html" %}
{% load static %}

{% block script %}
<script src="{% static 'main.js' %}"></script>
{% endblock script %}
{% block content %}
<!-- <p>Django Event Calendar</p> -->
<!--<div class="container-fluid p-5 ">-->
<!--<form class="" action="{% url 'generate_article:submit-title' %}" method="post" onsubmit='showLoading();'>-->
<div class="container mt-5 mb-5 pt-3 pb-3" style="background-color:white;">

    <!--{% csrf_token %}-->
    <div id='loadingmsg' style='display: none;'>Generating an Article, please wait...</div>
    <div id='loadingover' style='display: none;'></div>
    <h1>Create Article</h1>
    <div class="mb-3 text-center">
      <h5>Select a Topic</h5></div>
      <!--<div class="row">-->
        <table class="table table-hover table-responsive" style="background-color:white;">
        <thead>
        <tr>
          <th colspan="1">Rank</th>
          <th colspan="1">Sentence</th>
          <th colspan="3">Select Method</th>
          <!--<th scope="col">Handle</th>-->
        </tr>
        </thead>
        <tbody>
            {% for topic in topics %}
            <tr>
                <form class="" action="{% url 'generate_article:submit-title' %}" method="post" onsubmit='showLoading();'>
                    {% csrf_token %}
                <input type="hidden" name="subject" value="{{topic.subject}}">
                <input type="hidden" name="verb" value="{{topic.verb}}">
                <input type="hidden" name="title" value="{{topic.sentence}}">
                <input type="hidden" name="target_industry" value="{{topic.target_industry}}">
              <th scope="col-1">{{topic.rank}}</th>
              <td scope="col-7">{{topic.sentence}}</td>
              <td><input type="submit" class="btn btn-secondary btn-sm" formaction="{% url 'generate_article:submit-title' %}" value="AIWriter" /></td>
              <td><input type="submit" class="btn btn-primary btn-sm" formaction="{% url 'generate_article:submit-title-wiki' %}" value="Wikipedia" /></td>
                <td><input type="submit" class="btn btn-dark btn-sm" formaction="{% url 'generate_article:write-yourself' %}" value="Write Yourself" /></td>
            </tr>
            </form>
            {% endfor %}
        </tbody>
        </table>
      <!--    <div class="col-1">-->
      <!--        <h5>Rank</h5>-->
      <!--    </div>-->
      <!--    <div class="col-7">-->
      <!--        <h5>Sentence</h5>-->
      <!--    </div>-->
      <!--    <div class="col-4">-->
      <!--        <h5>Select Method</h5>-->
      <!--    </div>-->
      <!--</div>-->

      <!--{% for topic in topics %}-->
      <!--<div class="row">-->
      <!--    <div class="col-1">-->
      <!--      {{topic.rank}}-->
      <!--    </div>-->
      <!--    <div class="col-7">-->
      <!--        <input type="hidden" name="title" value="{{topic.sentence}}">-->
      <!--        <p>{{topic.sentence}}</p>-->
              <!--<button type="button" class="btn btn-link modal-button" data-bs-toggle="modal" data-bs-target="#exampleModal" >{{topic.sentence}}</button>-->
      <!--    </div>-->
      <!--    <div class="col-4">-->
      <!--        <input type="submit" class="btn btn-secondary btn-sm" formaction="{% url 'generate_article:submit-title' %}" value="AIWriter" />-->
      <!--        <input type="submit" class="btn btn-primary btn-sm" formaction="{% url 'generate_article:submit-title-wiki' %}" value="Wikipedia" />-->
      <!--        <input type="submit" class="btn btn-dark btn-sm" formaction="{% url 'generate_article:write-yourself' %}" value="Write Yourself" />-->
      <!--    </div>-->

      <!--</div>-->
      <!--{% endfor %}-->

</div>
 <!--</form>-->
{% endblock content %}
