{% extends "article/base_steps.html" %}
{% load static %}

{% block content %}
<script>
  function alertNotAdmin() {
    alert("You are not an admin.");
  }
</script>

<style>
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #0a58ca;
  color: white;
  border-radius: 90px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 50px;
}
</style>

<!-- <p>Django Event Calendar</p> -->
<!--<div class="container-fluid p-5 ">-->
<!--<form class="" action="{% url 'generate_article:submit-title' %}" method="post" onsubmit='showLoading();'>-->
<div class="container mt-5 mb-5 pt-3 pb-3" style="background-color:white;">

    <!--{% csrf_token %}-->
    <div id='loadingmsg' style='display: none;'>Generating an Article, please wait...</div>
    <div id='loadingover' style='display: none;'></div>
    <h1>Create Article</h1>
    <div class="mb-3 text-center">
      <h5>Select a Topic</h5></div>
      <!--<div class="row">-->
        <table class="table table-hover table-responsive" style="background-color:white;">
        <thead>
        <tr>
          <th colspan="1">Rank</th>
          <th colspan="1">Sentence</th>
          <th colspan="1">Created By</th>
          <th colspan="3">Select Method</th>
          <!--<th scope="col">Handle</th>-->

        </tr>
        </thead>
<tbody>
  {% for topic in topics %}
    {% if profile == 'Admin' or 'Add/Edit'%}
      <tr>
        <form class="" action="{% url 'generate_article:submit-title' %}" method="post" onsubmit='showLoading();'>
          {% csrf_token %}
          <input type="hidden" name="subject" value="{{topic.subject}}">
          <input type="hidden" name="verb" value="{{topic.verb}}">
          <input type="hidden" name="title" value="{{topic.sentence}}">
          <input type="hidden" name="target_industry" value="{{topic.target_industry}}">
          <th scope="col-1">{{topic.ranks}}</th>
          <td scope="col-7">{{topic.sentence}}</td>
          <td>{{topic.created_by}}</td>
          <td><input type="submit" class="btn btn-secondary btn-sm" formaction="{% url 'generate_article:submit-title' %}" value="AIWriter" /></td>
          <td><input type="submit" class="btn btn-primary btn-sm" formaction="{% url 'generate_article:submit-title-wiki' %}" value="Wikipedia" /></td>
          <td><input type="submit" class="btn btn-dark btn-sm" formaction="{% url 'generate_article:write-yourself' %}" value="Write Yourself" /></td>
        </form>
      </tr>
    {% else %}
      <tr>
        <form class="" action="{% url 'generate_article:submit-title' %}" method="post" onsubmit='showLoading();'>
          {% csrf_token %}
          <input type="hidden" name="subject" value="{{topic.subject}}">
          <input type="hidden" name="verb" value="{{topic.verb}}">
          <input type="hidden" name="title" value="{{topic.sentence}}">
          <input type="hidden" name="target_industry" value="{{topic.target_industry}}">
          <th scope="col-1">{{topic.ranks}}</th>
          <td scope="col-7">{{topic.sentence}}</td>
          <td>{{topic.created_by}}</td>
          <td><input type="button" class="btn btn-secondary btn-sm" value="AIWriter" onclick="alertNotAdmin();" /></td>
          <td><input type="button" class="btn btn-primary btn-sm" value="Wikipedia" onclick="alertNotAdmin();" /></td>
          <td><input type="button" class="btn btn-dark btn-sm" value="Write Yourself" onclick="alertNotAdmin();" /></td>
        </form>
      </tr>
    {% endif %}
  {% endfor %}
</tbody>
        </table>
        <div class="row">
            <nav aria-label="...">
  <ul class="pagination" style="overflow:auto;">
    {% for i in page_range %}
    {% if i == page %}
    <li class="page-item active">
      <a class="page-link" href="{% url 'generate_article:index-view' %}?page={{ i }}">{{ i }} <span class="sr-only">(current)</span></a>
    </li>
    {% else %}
    <li class="page-item"><a class="page-link" href="{% url 'generate_article:index-view' %}?page={{ i }}">{{ i }}</a></li>
    {% endif %}


    {% endfor %}

  </ul>
</nav>
        </div>
      <!--    <div class="col-1">-->
      <!--        <h5>Rank</h5>-->
      <!--    </div>-->
      <!--    <div class="col-7">-->
      <!--        <h5>Sentence</h5>-->
      <!--    </div>-->
      <!--    <div class="col-4">-->
      <!--        <h5>Select Method</h5>-->
      <!--    </div>-->
      <!--</div>-->

      <!--{% for topic in topics %}-->
      <!--<div class="row">-->
      <!--    <div class="col-1">-->
      <!--      {{topic.rank}}-->
      <!--    </div>-->
      <!--    <div class="col-7">-->
      <!--        <input type="hidden" name="title" value="{{topic.sentence}}">-->
      <!--        <p>{{topic.sentence}}</p>-->
              <!--<button type="button" class="btn btn-link modal-button" data-bs-toggle="modal" data-bs-target="#exampleModal" >{{topic.sentence}}</button>-->
      <!--    </div>-->
      <!--    <div class="col-4">-->
      <!--        <input type="submit" class="btn btn-secondary btn-sm" formaction="{% url 'generate_article:submit-title' %}" value="AIWriter" />-->
      <!--        <input type="submit" class="btn btn-primary btn-sm" formaction="{% url 'generate_article:submit-title-wiki' %}" value="Wikipedia" />-->
      <!--        <input type="submit" class="btn btn-dark btn-sm" formaction="{% url 'generate_article:write-yourself' %}" value="Write Yourself" />-->
      <!--    </div>-->

      <!--</div>-->
      <!--{% endfor %}-->
      <center>
          <div class="pagination">
              {% if topics.has_previous %}
              <a href="?page={{ topics.previous_page_number }}">Previous</a>
              {% endif %}
              {% if topics.number|add:'-2' > 1 %}
              <a href="?page={{ topics.number|add:'-3' }}">&laquo;</a>
              {% endif %}
              {% for page_number in topics.paginator.page_range %}
              {% if topics.number == page_number %}
              <a href="#" class="active">{{ page_number }}</a>
              {% elif page_number > topics.number|add:'-3' and page_number < topics.number|add:'6' %}
              <a href="?page={{ page_number }}">{{ page_number }}</a>
              {% endif %}
              {% endfor %}
              {% if topics.number|add:'5' > 1 %}
              <a href="?page={{ topics.number|add:'6' }}">&raquo;</a>
              {% endif %}
              {% if topics.has_next %}
              <a href="?page={{ topics.next_page_number }}">Next</a>
              {% endif %}

            </div>

      </center>


</div>


 <!--</form>-->
{% endblock content %}
