* {
  box-sizing: border-box;
}

/*body {*/
/*    background-color: #f1f1f1;*/
/*}*/

#ansDisplay {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

.answer {
  height: 40px auto;
  background-color: #d3d3d3;
  border-radius: 4px;
  padding: 3px;
}

.answer_rank {
  float: right;
}

.s-alert {
  position: fixed;
  right: 0;
  top: 75px;
  font-style: italic;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 40px;
  min-width: 420px;
  border-radius: 4px;
  /* border-left: 7px solid green; */
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  backdrop-filter: blur(0);
  -webkit-backdrop-filter: blur(0);
}
.s-alert::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: width 30s linear;
  height: 4px;
  background-color: green;
}
.s-alert.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 100;
}

.s-alert.hide {
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  backdrop-filter: blur(0);
  -webkit-backdrop-filter: blur(0);
}
.s-alert.timeout.show::after {
  animation: decreaseWidth 20s linear forwards;
}

@keyframes decreaseWidth {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 26px;
  cursor: pointer;
}
.close-icon1 {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 26px;
  cursor: pointer;
}
#alertPopup {
  position: fixed;
  top: 0;
  left: 37%;
  transform: translateY(-100%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  width: 520px;
  border-radius: 4px;
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  backdrop-filter: blur(0);
  -webkit-backdrop-filter: blur(0);
}

#alertPopup.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 100;
}
