.blue-text {
  color: var(--dark-blue);
}

form {
  width: 70%;
}

.btn-dark-blue {
  width: 40%;
  color: white;
  background-color: var(--dark-blue);
  border-color: var(--dark-blue);
}

.btn-dark-blue:hover {
  color: white;
  background-color: rgb(20, 38, 85);
}
.products {
  font-weight: 500;
  font-size: 20px;
  color: grey;
  margin-bottom: 14px;
}
.form-select {
  outline: none;

  background-color: #dcd6d0;
  color: grey;
}
