.content-container {
    background-color: rgba(230, 230, 230, 95%);
}

.container {
    width: 69%;
}

.btn-dark-blue {
    color: white;
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
}

.btn-dark-blue:hover {
    color: white;
    background-color: rgb(20, 38, 85);
}


/* Custom styles for the save button */
.save-button {
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
}

 
/*.btn.btn-primary:disabled {*/
/*    opacity: 0.4;*/
/*    cursor: default !important;*/
/*}*/


/*button:disabled {*/
/*    opacity: 0.4 !important;*/
/*    cursor: not-allowed !important;*/
/*    pointer-events: all !important;*/
/*} */


.btn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none; /* Disable pointer events to prevent interactions */
}


.saved-button {
    transform: scale(1.05);
}

.check-icon {
    display: none;
}

.saved-button .check-icon {
    display: inline-block;
    margin-right: 5px;
}

#tag_input:focus,
#men_input:focus {
    box-shadow: 0 0 0 1.2px rgb(49 54 61 / 25%);
    border: none;
    outline: none;
}

.save-button {
    border-radius: 16px !important;
    width: 129px;
}

#tagBtn:focus,
#mentionBtn:focus,
.save-button:focus {
    box-shadow: 0 0 0 0.1rem rgba(38, 143, 255, .5);
}


.input-wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
.input-wrapper > div { 
    width: 46%;
    max-width: 46%;
    padding: 0;
    margin: 0 10px 10px 0;
    flex-basis: 50%;
}
.save-button{
    cursor: pointer;
}
input {
    border: 0;
}