.btn-primary {
        background: #0d6efd;
    }

    .btn-cancel {
        background: #0d6efd;
        margin-right: 20px; /* Adjust the margin value as needed */
        margin-top:4px;
        width: 100px;
    }

    .table td, th {
        border: none !important;
    }

    .btn-view {
        font-size: 0.7rem;
        color: white;
        background-color: var(--dark-blue);
        border-color: var(--dark-blue);
        width: 73px;
    }

    .btn-view:hover {
        color: white;
        background-color: rgb(20, 38, 85);
    }

    .btn-view:active{
        background-color: rgb(20, 38, 85) !important;
    }

    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
        padding:0; 
    }

    .table tr,.table td{
        height: 10px;
    }

    .table>thead>tr>th {
        margin-bottom: 40px; 
    }

    .title-p {
        color: #1434A4;
        font-size: 20px; 
        font-weight: 600;
        line-height: 31px;
        width: 93%;
    }

    .paragraph-p {
        font-size: 0.91rem; 
        width: 85%;
    }
    
    @media only screen and (max-width: 819px){
       
    
        .title-p {
            color: #1434A4;
            font-size: 15px;
            font-weight: 600;
        }

        
    }

    @media only screen and (max-width: 682px){
        .title-p {
        color: #1434A4;
        font-size: 11px;
        font-weight: 600;
        }

        .btn-view {
            font-size: 0.5rem;
        }

        .table tr, .table td {
            height: 10px;
            font-size: 0.6rem;
        } 
    }
