.grid-container3 {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 5fr 95fr;
}

.item1 {
    background-color: #203474;
    grid-column-start: 1;
    grid-column-end: 3;
}

.item2 {
    background-color: #e8e4e4;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
}

.item3 {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 40px 200px 200px 200px;
}

.item3-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 50% 50%;
}

.item3-1_left {
    grid-column-start: 1;
    grid-column-end: 2;
}

.item3-1_right {
    grid-column-start: 2;
    grid-column-end: 3;
}

.item3-2 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.item3-3 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.item3-3_picture {
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 50% 50%;
}

.item3-3_edit_picture {
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 50% 50%;
}

.item3-3_selectable_gallery {
    grid-column-start: 1;
    grid-column-end: 4;
}

.item3-4 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.item4 {
    display: grid;
    grid-template-columns: repeat(2, 50fr);
}

.mylist {
    display: flex;
    list-style: none;
    padding: 5px;
    color: white;
}

.form-elt-bgcolor {
    background-color: #e0e4fc;
}

.form-elt-label {
    color: #203474;
    font-weight: bold;
}

.btn-primary {
    background-color: #203474;
}

.my-btn-primary {
    padding-left: 40%;
}

/*style for animated navbar with underline*/
a {
    outline: none;
}

/*social media icons padding styles*/
.social-media-icon-padding {
    padding-left: 10px;
}

/*style buttons*/
.div-btn-style {
    padding-left: 70%;
}

.schedule-now-btn {
    background-color: #e8e4e4;
}

/*style for 3 dots edit menus start*/
.icon-dropdown {
    position: relative;
    display: inline-block;
    padding: 10px;
    /* float: right;*/
}

.icon-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 5px;
    background-color: #b0c4dc;
}

.icon-dropdown:hover .icon-dropdown-content {
    display: block;
}

.element:hover {
    color: grey;
}

.dropdown-icon {
    background: none;
    border: none;
    vertical-align: middle;
}

.element {
    white-space: nowrap;
    background: none;
}

/*style for 3 dots edit menus end*/
/*style carousel controls*/
.carousel-control-prev-icon {
    background-color: dodgerblue;
}

.carousel-control-next-icon {
    background-color: dodgerblue;
}

span.content {
    width: 100px;
    height: 100px;
    position: relative;
    padding: 15px;
    box-sizing: border-box;
    border-color: purple;
}
