* {
  box-sizing: border-box;
}

/*body {*/
/*    background-color: #f1f1f1;*/
/*}*/

input.invalid {
  background-color: #ffdddd;
}

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
  border-radius: 0.3em;
}

h1 {
  text-align: center;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button#nextBtn {
  border-color: #ffc107;
  background-color: #ffc107;
  color: #212529;
}

button {
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

/* Make circles that indicate the steps of the form: */
/*.step {*/
/*    height: 15px;*/
/*    width: 15px;*/
/*    margin: 0 2px;*/
/*    background-color: #47ce29;*/
/*    border: none;*/
/*    border-radius: 50%;*/
/*    display: inline-block;*/
/*    opacity: 0.5;*/
/*}*/

/*.step.active {*/
/*    opacity: 1;*/
/*}*/

/* Mark the steps that are finished and valid: */
/*.step.finish {*/
/*    background-color: #04AA6D;*/
/*}*/

#submitBtn {
  display: none;
}

.custom-radio-list {
  list-style-type: none;
  padding: 0;
  margin: 4px;
}

.required_field {
  font-size: 1em;
  color: red;
}

.popup {
  position: fixed;
  top: 20px; /* Adjust the top position as per your needs */
  right: 20px; /* Adjust the right position as per your needs */
  padding: 20px;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Adjust the alpha value (0.8 in this example) */
  border: none;
  box-shadow: none;
  font-style: italic;
  z-index: 9999;
  animation: slideIn 0.5s ease-in-out;
}

.cancel-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 16px;
}

.popup p {
  margin: 0;
  padding: 0;
}

.popup::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; /* Set initial width to full */
  transition: width 30s linear;
  height: 4px;
  background-color: green;
}

.popup.timeout::after {
  animation: decreaseWidth 10s linear forwards; /* Use animation for decreasing width */
}

@keyframes decreaseWidth {
  0% {
    width: 100%; /* Set initial width to full */
  }
  100% {
    width: 0; /* Decrease width to 0 */
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
