.grid-container3 {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 5fr 95fr;
}
.item1 {
  background-color: #203474;
  grid-column-start: 1;
  grid-column-end: 3;
}
.item2 {
  background-color: #e8e4e4;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 2;
}
.mylist {
  display: flex;
  list-style: none;
  padding: 5px;
  color: white;
}
.form-elt-bgcolor {
  background-color: #e0e4fc;
}
.form-elt-label {
  color: #203474;
  font-weight: bold;
}
span.content {
  width: 100px;
  height: 100px;
  position: relative;
  padding: 15px;
  box-sizing: border-box;
  border-color: purple;
}
