{% extends "article/base.html" %}
{% load static %}

{% block script %}
<script src="{% static 'main.js' %}"></script>
{% endblock script %}
{% block content %}

<style>
    {#    todo transfer it to an independent #}
    * {
        box-sizing: border-box;
    }

    /*body {*/
    /*    background-color: #f1f1f1;*/
    /*}*/

    #ansDisplay {
        background-color: #ffffff;
        margin: 100px auto;
        font-family: Raleway;
        padding: 40px;
        width: 70%;
        min-width: 300px;
    }

    .answer {
        height: 40px;
        background-color: #D3D3D3;
        border-radius: 4px;
        padding: 4px
    }

    .answer_rank {
        float: right;
    }
</style>
<body>

<div id="ansDisplay">
    <form name="form1" id='rateForm' method="post" action="{% url 'generate_article:selected-comment' %}">


        {% csrf_token %}

        {% for sentence in sentences %}
            <p>{{ sentence.sentence_type }}</p>
            <div class="answer">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="comment" id="flexRadioDefault1" value="{{ sentence.sentence }}">
                <label class="form-check-label" for="flexRadioDefault1">
                {{ sentence.sentence }}
                </label>
            </div>
            </div>
            <br>
        {% endfor %}
        <button type="submit" class="btn btn-success">SUBMIT</button>
    </form>
</div>
{% endblock content %}
