{% extends "article/base.html" %}
{% load static %}

{% block script %}
<script src="{% static 'main.js' %}"></script>
{% endblock script %}
{% block content %}

{% load is_string_tags %}
<div class="container mt-5 mb-5 pt-3 pb-3">
    <!--<div class="list-group list-group-flush">-->
    <div class="justify-content-center mb-3" style="color: #1434A4;"><h1 style=" font-size: calc(1.375rem + 1.5vw)!important;">{{post.title}}</h1></div>
    {% for p in post.paragraph %}
        <p>{{p}}</p>
    {% endfor %}
    <!--<p>{{post.paragraph}}</p>-->
    <hr>
    <h3 style="color: #1434A4;">Source</h3>
    {% if post.source|is_string %}
        <a href="{{ post.source }}">{{ post.source }}</a>
    {% else %}
        {% for s in post.source %}
        <a href="{{ s }}">{{ s }}</a>
        {% endfor %}
    {% endif %}
    <hr>
    <div class="text-center">
        <a href="#" class="btn btn-primary">Edit Article</a>
    </div>

<!--</div>-->
</div>
{% endblock content %}
