{% extends "article/base.html" %}
{% load static %}

{% block script %}
<script src="{% static 'main.js' %}"></script>
{% endblock script %}
{% block content %}
<style type="text/css">
    body
    {
      padding: 0;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
       }

    .background {
      background:   url("/static/photos/pexels_image.jpg") rgba(0, 0, 0, 0.20);
      background-repeat: NO-repeat;
      background-size: cover;
      background-blend-mode: darken;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      filter: blur(0px);
      min-height: 1400px;

    }

    .overlay-container {
      width: 60%;
      margin: 10vh auto;
      border-radius: 0px;
    }
    .overlay-container2 {
      width: 45%;
      margin: 10vh auto;
      border-radius: 0px;
    }
    h2 {
      font-size: 30px;
    }

    form {
      padding: 40px;
      display: flex;
      flex-direction: column;
    }
    .form-item {
      display: flex;
      width: 90%;
      margin: 10px auto;
      border-radius: 0px;
      align-items: center;
    }
    .form-item:hover {
      border: 1px solid rgb(82, 81, 81);
    }
    p:first-of-type {
      margin: 0;
    }
    .fb:hover {
      background: rgba(55, 53, 207, 0.637);
      border: none;
      box-shadow: 0 0 2px rgba(55, 53, 207, 0.637);
    }
    .gl:hover {
      background: rgba(207, 53, 53, 0.671);
      border: none;
      box-shadow: 0 0 2px rgba(207, 53, 53, 0.671);
    }

    p {
      font-size: 18px;
      margin: 5px;
    }
    a {
      color: white;
    }
    a:hover {
      color: grey;
    }

    .form_container
    {
      display: grid;
      grid-template-columns: 50% 50%;
    }
    .flex-container
    {
      display: flex;
      flex-direction: row;
      justify-content: center;
      grid-gap: 15px;
    }
    @media screen and (max-width: 920px) {
      /*.container {*/
      /*  width: 80%;*/
      /*}*/
      .form_container
      {
        display:block;
        grid-template-rows:50% 50%;
      }
      .form_container_left
      {
          grid-row-start:1;
          grid-row-end:2;
      }
      .form_container_right
      {
          display:none;
      }
    }

  </style>
    <!-- for background -->
    <div class="background"></div>

    <!-- for form container -->
    <div class="overlay-container">
      <!-- log in form -->
      <div class="form_container">
        <div class="form_container_left container" style="background-color:#e8e4e4;">
          <form action="{% url 'generate_article:confirm-reset-password' %}">
            <h2 style="text-align: center; color:#203474; font-weight:bold;">Reset Your Password</h2>
            <div class="#">
              <label style="color:black; padding-top: 8px; padding-bottom: 8px;">Current Password</label>
              <input type="password" name="current" class="form-control" placeholder="Enter your password">
            </div>

            <div class="#">
              <label style="color:black; padding-top: 8px; padding-bottom: 8px;">New Password</label>
              <input type="password" name="new" class="form-control" placeholder="Enter your password">
            </div>

            <div class="#">
              <label style="color:black; padding-top: 8px; padding-bottom: 8px;">Confirm Password</label>
              <input type="password" name="confirm" class="form-control" placeholder="Enter your password">
            </div>

            <div>
                <a href="javascript:history.back()" class="btn btn-secondary" style="margin-top: 8px; margin-bottom: 8px;">Cancel</a>
            </div>
            <div>
              <button type="submit" class="btn btn-primary" style="background-color: #203474; margin-top: 8px; margin-bottom: 8px;">Done</button>
            </div>

          </form>
        </div>
      </div>
    </div>
{% endblock content %}