{% extends "article/base.html" %}
{% load static %}

{% block script %}
<script src="{% static 'main.js' %}"></script>
{% endblock script %}
{% block content %}
<style type="text/css">
		/*four columns in display grid*/
		.grid-container2
		{
			display: grid;
			grid-template-columns: 10% 60% 30%;
			grid-template-rows: 5fr 95fr;
		}
		.item1
		{
			background-color: #203474;
			grid-column-start: 1;
			grid-column-end: 4;
		}
		.item2
		{
			background-color: #e8e4e4;
			text-align: center;
			grid-column-start: 1;
			grid-column-end: 2;
		}
		.item3
		{
			/*background-color: orange;*/
			grid-column-start: 2;
			grid-column-end: 3;
		}
		.item4
		{
			/*background-color: green;*/
			grid-column-start: 3;
			grid-column-end: 4;
		}
		.mylist
		{
			display: flex;
			list-style: none;
			padding: 5px;
			color: white;
		}
		/*toggle switch css*/
		.apple-switch
		{
		   display: flex;
		   flex-flow: row nowrap;
		   justify-items: center;
		   position: absolute;
		   left: 50%;
		   top: 50%;
		   tranform: translate3d(-50%, -50%);
		   font-family: sans-serif;
		}

		.apple-switch:focus-within {
		   outline: 2px solid currentColor;
		   outline-offset: 4px;
		}

		.myinput {
		   width: 50px;
		   height: 30px;
		   opacity: 0;
		   padding: 0;
		   margin: 0;
		}

		.mylabel {
		   position: relative;
		   display: flex;
		   flex-direction: row;
		   align-items: center;
		   padding-left: 10px;
		   cursor: pointer;
		}

		.mylabel:before {
		   content: "";
		   width: 50px;
		   position: absolute;
		   left: -50px;
		   border: 1px solid lightgray;
		   height: 30px;
		   border-radius: 25px;
		   top: 0;
		}

		.mylabel:after {
		   content: "";
		   width: 28px;
		   height: 28px;
		   border-radius: 15px;
		   position: absolute;
		   left: -48px;
		   background-color: white;
		   box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 0.25);
		   top: 2px;
		}

		.myinput:checked + label:before {
		   background-color: #203474;
		   border-color: #203474;
		}

		.myinput:focus + label,
		.myinput:hover + label {
		   color: dodgerblue;
		}

		.myinput:focus + label:before,
		.myinput:hover + label:before {
		   border-color: dodgerblue;
		}

		.myinput:checked + label:after {
		   left: -28px;
		   box-shadow: -1px 0 1px 1px rgba(0, 0, 0, 0.25);
		}
		.btn-primary
		{
			background-color: #203474;
		}
		.my-btn-primary
		{
			padding-left: 40%;
		}
		.form-elt-bgcolor
		{
			background-color: #e0e4fc;
		}
				span.content {
            width: 100px;
            height: 100px;
            position:relative;
            padding:15px;
            box-sizing:border-box;
            border-color:purple;
        }
	</style>
</body>
	<div class="grid-container2">
		<div class="item item1">
			<ul class="mylist">
				<li><i class="fa-regular fa-pen"></i>Ai Writer</li>
				<li>User Name</li><i class="fa-regular fa-pen"></i>
			</ul>
		</div>
		<div class="item item2">
			<div style=	"margin-top:20%;">
				<a href="#">
				    <span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-user-check fa-2xl"></i></span>
				    <h6 style="padding-top:20px;">Topic</h6>
				</a>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-file-signature fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Article</h6>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-calendar-check fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Post</h6>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-calendar-days fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Schedule</h6>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-color:white; border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-comment fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Comment</h6>
			</div>
		</div>
		<div class="item item3">

			<form class="container"  method='POST' action='{% url 'topics' %}' onsubmit="validateForm(event)">
			     {% csrf_token %}
				    <div class="form-group">
				      <label for="disabledSelect" style="padding-top: 15px;">Category</label>
				      <select id="disabledSelect" class="form-control form-elt-bgcolor">
				        <option>Select Category</option>
				        <option>1</option>
				        <option>2</option>
				      </select>
				    </div>
				    <div class="form-group">
				    	<label for="keyWordSearch">Products/Services</label>
				    	<input type="text" class="form-control form-elt-bgcolor" name="" placeholder="Enter Your Key Words">
				    </div>
				    <div class="form-group">
				    	<div class="row">
					    	<div class="col">
					    		<label for="disabledSelect">Your Topic</label>
						      	<select id="disabledSelect" class="form-control form-elt-bgcolor">
						        	<option>Select Topic</option>
						        	<option>1</option>
						        	<option>2</option>
						        </select>
					    	</div>
					    	<div class="col">
				    			<div class="apple-switch">
								   <input id="notify" name="notify" type="checkbox" class="myinput">
								   <label for="notify" class="mylabel"> Singular/Plural</label>
								</div>
				    		</div>
				        </div>
					</div>
					<div class="form-group">
				    	<div class="row">
					    	<div class="col">
					    		<label for="disabledSelect">Purpose of Article</label>
						      	<select id="disabledSelect" class="form-control form-elt-bgcolor">
						        	<option>Enter your purpose</option>
						        	<option>1</option>
						        	<option>2</option>
						        </select>
					    	</div>
					    	<div class="col">
				    			<div class="apple-switch">
								   <input id="notify2" name="notify2" type="checkbox" class="myinput">
								   <label for="notify2" class="mylabel"> Singular/Plural</label>
								</div>
				    		</div>
				        </div>
					</div>
					 <div class="form-group">
				    	<label for="keyWordSearch">Activities</label>
				    	<input type="text" class="form-control form-elt-bgcolor" name="" placeholder="Enter Your activity">
				    </div>
				    <div class="form-group">
				    	<label for="keyWordSearch">Can you specify your activity?</label>
				    	<input type="text" class="form-control form-elt-bgcolor" name="" placeholder="Enter">
				    </div>
				    <div class="my-btn-primary">
				    	<button type="submit" class="btn btn-primary btn-lg"  >Create Topic</button>
				    </div>
			</form>
		</div>
		<div class="item item4">
		    {% load static %}<img src="{% static "photos/Lady-Pixel.png"%}" style="padding-top:30%;">
		</div>
	</div>


	{% endblock content %}