{% extends "article/base_background.html" %}
{% load static %}

{% block style %}
  {{ block.super }}
  <style>
    .blue-rounded-container {
      background-color: var(--dark-blue);
      color: white;
      padding: 10px 50px;
      border-radius: 10px;
      margin: 20px;
      text-align: center;
    }

    .btn-dark-blue {
      color: white;
      background-color: var(--dark-blue);
      border-color: var(--dark-blue);
    }

    .btn-dark-blue:hover {
      color: white;
      background-color: rgb(20, 38, 85);
    }
  </style>
{% endblock %}

{% block stuff %}
  <h1 class="mb-1">
    <span class="blue-text">Current Plan: </span><span>Startup</span>
  </h1>
  <button class="btn btn-dark-blue fw-bold">Upgrade</button>

  <hr>

  <div class="d-flex flex-wrap justify-content-center">

    <div class="blue-rounded-container">
      <i class="fa-solid fa-coins fa-6x m-3"></i>
      <div class="text-center fw-bold">Current Balance</div>
      <hr>
      <div class="text-center fw-bold">$2000.00</div>
    </div>

    <div class="blue-rounded-container">
      <i class="fa-solid fa-file fa-6x m-3"></i>
      <div class="text-center fw-bold">Generated Content</div>
      <hr>
      <div class="text-center fw-bold">2343625</div>
    </div>

  </div>
{% endblock %}