{% extends "article/base_background.html" %}
{% load static %}

{% block stuff %}
  <h1 class="blue-text mb-5">Choose Your Plan</h1>

  <div class="d-flex flex-wrap justify-content-center">

    <a href="#" class="mx-3">
      <div>
        <i class="fa-solid fa-cart-shopping fa-6x"></i>
        <div class="text-center fw-bold">Startup</div>
      </div>
    </a>

    <a href="#" class="mx-3">
      <div>
        <i class="fa-solid fa-cart-shopping fa-6x"></i>
        <div class="text-center fw-bold">Basic</div>
      </div>
    </a>

    <a href="#" class="mx-3">
      <div>
        <i class="fa-solid fa-cart-shopping fa-6x"></i>
        <div class="text-center fw-bold">Premium</div>
      </div>
    </a>

    <a href="#" class="mx-3">
      <div>
        <i class="fa-solid fa-cart-shopping fa-6x"></i>
        <div class="text-center fw-bold">Custom</div>
      </div>
    </a>

  </div>
{% endblock %}