{% extends "article/base_background.html" %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'step2/css/admin_approve.css' %}">
{% endblock %}

{% block navbar_heading %}
{% endblock %}

{% block stuff %}

    <style>
    </style>

    <div class="approval-container">
        <h3>Approval Admin Page</h3>
        <div class="request-list">
            <div class="request-item">
                <label>
                    <input type="checkbox" class="request-checkbox" value="Request from user_1"> Request from user_1
                </label>
            </div>
            <div class="request-item">
                <label>
                    <input type="checkbox" class="request-checkbox" value="Request from user_2"> Request from user_2
                </label>
            </div>
            <div class="request-item">
                <label>
                    <input type="checkbox" class="request-checkbox" value="Request from user_3"> Request from user_3
                </label>
            </div>
            <div class="request-item">
                <label>
                    <input type="checkbox" class="request-checkbox" value="Request from user_3"> Request from user_4
                </label>
            </div>
            <div class="request-item">
                <label>
                    <input type="checkbox" class="request-checkbox" value="Request from user_3"> Request from user_5
                </label>
            </div>
            <div class="request-item">
                <label>
                    <input type="checkbox" class="request-checkbox" value="Request from user_3"> Request from user_6
                </label>
            </div>
            <div class="request-item">
                <label>
                    <input type="checkbox" class="request-checkbox" value="Request from user_3"> Request from user_7
                </label>
            </div>
            <div class="request-item">
                <label>
                    <input type="checkbox" class="request-checkbox" value="Request from user_3"> Request from user_8
                </label>
            </div>
        </div>
        <div id="approval-status">
            <!-- The approval status will be displayed here -->
        </div>
        <button onclick="approveSelected()" class="btn-dark-blue">Approve Selected</button>
        <button onclick="rejectSelected()" class='btn-dark-blue'>Reject Selected</button>
        <button onclick="approveAll()" class="btn-dark-blue">Approve All</button>

    </div>

    <script type="text/javascript" src="{% static 'step2/js/admin_approve.js' %}"></script>

    <script>

    </script>

{% endblock %}