{% extends "article/base_background.html" %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'step2/css/admin_approve.css' %}">
{% endblock %}

{% block navbar_heading %}
{% endblock %}

{% block stuff %}

    <style>
    </style>

    <div class="approval-container">
        <h3>Approval Admin Page</h3>
        <form method="post">
            {% csrf_token %}
            <div class="request-list">
                {% for social_media_request in social_media_requests %}
                    <div class="request-item">
                <label>
                    <input type="checkbox" name="social_media_request_id" class="request-checkbox"
                           value="{{ social_media_request.id }}"> {{ social_media_request.name }}
                </label>
            </div>
                {% empty %}
                    <p>No social media requests</p>
                {% endfor %}


            </div>
            <input type="submit" name="approve" value="Approve Selected" class="btn-dark-blue">
            <input type="submit" name="approve" value="Reject Selected" class="btn-dark-blue">
            <input type="submit" name="approve" value="Approve All" class="btn-dark-blue">

        </form>

        <div id="approval-status">
            <!-- The approval status will be displayed here -->
        </div>


    </div>

    <script type="text/javascript" src="{% static 'step2/js/admin_approve.js' %}"></script>

    <script>

    </script>

{% endblock %}