{% load static %}
<!DOCTYPE html>
{% load static %} 
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    href="https://fonts.googleapis.com/css?family=Raleway"
    rel="stylesheet"
  />
  <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"
  ></script>
  <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
  crossorigin="anonymous"
  />
  <link rel="stylesheet" type="text/css" href="{% static 'step2/css/answer_display.css' %}" />
  <!--<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>-->
  <script
    type="text/javascript"
    src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"
  ></script>

  <body>
    <div id="ansDisplay">
      <form
        name="form1"
        id="rateForm"
        method="post"
        action="{% url 'selected_result' %}"
      >
        {% csrf_token %} {% for sentence in sentences %}
        <p>{{ sentence.sentence_type }}</p>
        <div class="answer" style="height: auto">
          <p>
            {{ sentence.sentence }}
            <span class="answer_rank">
              <label>
                <select
                  name="rank_{{ forloop.counter }}"
                  class="required"
                  id="selector_{{ forloop.counter }}"
                >
                  <option value="0" disabled selected>Rank</option>
                  {% for rank in ranks %}
                  <option value="{{ rank }}">{{ rank }}</option>
                  {% endfor %}
                </select>
              </label>
            </span>
          </p>
        </div>

        <br />
        {% endfor %}
        <a href="{% url 'index' %}" type="button" class="btn btn-danger"
          >Cancel</a
        >
        <button type="submit" class="btn btn-success">SUBMIT</button>
      </form>

      <div class="s-alert">
        <span class="fas fa-exclamation-circle"></span>
        <span class="msg">Submitting your ranked topics...</span>
        <span class="close-icon" onclick="closeAlert()">&times;</span>
      </div>
      <div id="alertPopup" class="alertPopup hide">
        <span class="fas fa-exclamation-circle"></span>
        <span class="msg"
          >Please rank at least 3 sentences</span
        >
        <span class="close-icon1" onclick="closeAlert1()">&times;</span>
      </div>
    </div>
    
    <script type="text/javascript" src="{% static 'step2/js/answer_display.js'%}"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
