{% extends "article/base_steps.html" %}
{% load static %}


{% block content %}
    <!--{% load appname_tags %}-->
   <link type="'text/css" rel="stylesheet" href="{% static 'step2/css/article_list.css' %}">
   
    <div class="container mt-5 mb-5 pt-3 pb-3">
        <div class="list-group list-group-flush">
            <div class="justify-content-center" style="color: #1434A4;"><h1
                    style=" font-size: calc(1.375rem + 1.5vw)!important;">Article List</h1></div>
                    <div class="total-post_button">
                        <p>Total posts count: {{ posts|length }}</p>
                         <!-- <span>
                            <a href="{% url 'generate_article:index-view' %}" type="submit" class="btn btn-primary btn-view">CreateArticle</a>
                        </span> -->
                    </div>

            <div class="table-container">
                <div class="table-row-header">
                </div>

                {% if page_post %}
                    {% for post in page_post %}
                        <form class="" action="{% url 'generate_article:article-detail' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="title" value="{{ post.title }}">
                            <input type="hidden" name="paragraph" value="{{ post.paragraph }}">
                            <input type="hidden" name="source" value="{{ post.source }}">
                            <div class="flex">
                                <div>
                                    <div class="table-row">
                                        <div class="table-column" style="color: #1434A4;font-size: 20px; font-weight: 600;">
                                            <p>{{ post.title }}</p>
                                        </div>
                                    </div>

                                    <div class="table-row">
                                        <div class="table-column">
                                            <p>{{ post.paragraph|truncatewords:50 }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="button-container">
                                    <button type="submit" class="btn btn-primary btn-view">View Article</button>
                                </div>
                            </div>

                        </form>
                    {% endfor %}
                {% else %}
                <div style="padding-bottom: 4rem; margin: 10rem auto;  width: 100%; text-align: center;">
                    <p>No Articles here. Create articles below by clicking on the button below</p>
                    <span>
                        <a href="{% url 'generate_article:index-view' %}" type="submit" class="btn btn-primary btn-view">Create Article</a>
                    </span>
                </div>
                {% endif %}
                </tbody>
                </table>
               
                <center>
                    <div ></div>
                    <div class="pagination">
                        {% if page_post.has_previous %}
                            <a href="?page={{ page_post.previous_page_number }}">Previous</a>
                        {% endif %}
                        {% if page_post.number|add:'-2' > 1 %}
                            <a href="?page={{ page_post.number|add:'-3' }}">&laquo;</a>
                        {% endif %}
                        {% for page_number in page_post.paginator.page_range %}
                            {% if page_post.number == page_number %}
                                <a href="#" class="active">{{ page_number }}</a>
                            {% elif page_number > page_post.number|add:'-3' and page_number < page_post.number|add:'6' %}
                                <a href="?page={{ page_number }}">{{ page_number }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if page_post.number|add:'5' > 1 %}
                            <a href="?page={{ page_post.number|add:'6' }}">&raquo;</a>
                        {% endif %}
                        {% if page_post.has_next %}
                            <a href="?page={{ page_post.next_page_number }}">Next</a>
                        {% endif %}
                    </div>
                </center>
            </div>
        </div>
{% endblock content %}
