{% extends "article/base_background.html" %}

{% load static %}


{% block style %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'step2/css/category_topic.css' %}">
{% endblock %}

{% block script %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'step2/js/category_topic.js' %}"></script>
{% endblock %}


{% block stuff %}


<div class="container">

  <div class="flex-wrap justify-content-center">
    <h3 class="blue-text text-center mb-5">Category and Topic</h3>
    <form method="post" id="categoryTopicForm" >
      <div class="row">

        <div class="col-sm" >
          <p class= "text-center" style="font-weight: 500">Category</p>
          <div class="input-group rounded mb-3" style="border-radius: 25px;">
            <input name="category" type="text" class="form-control" aria-describedby="button-addon2" id="cat_input" placeholder="Enter category..">
            <input type="hidden" name="category_list" id="category_list" value="">
            <button class="btn btn-primary btn-dark-blue" type="button" id="catBtn" style="border-radius: 0 25px 25px 0;">Add</button>
          </div>

          <div  id="cat_col" class="d-flex flex-wrap ms-3"></div>
        </div>

        <div class="col-sm">
          <p class="text-center" style="font-weight: 500">Topic</p>
          <div class="input-group rounded mb-3" style="border-radius: 25px;">
              <input name="topic" type="text" class="form-control" aria-describedby="button-addon2" id="topic_input" placeholder="Enter topic..">
              <input type="hidden" name="topic_list" id="topic_list" value="">
            <button class="btn btn-primary btn-dark-blue" type="button" id="topicBtn" style="border-radius: 0 25px 25px 0;">Add</button>
          </div>

          <div id="topic_col" class="d-flex flex-wrap ms-3"></div>
        </div>

      </div>

      <div class="text-center">
        <button class="btn btn-primary rounded btn-dark-blue save-button mt-5" onclick="submitForm();" id="saveBtn" disabled >Save <i class="fas fa-check check-icon"></i></button>
      </div>
    </form>
   
  </div>   

</div>

{% endblock %}