{% extends "article/base.html" %}
{% load static %}
<link rel="stylesheet" href="../static/step2/css/comments_emojis.css">

{% block script %}
<script src="{% static 'main.js' %}"></script>
{% endblock script %}
{% block content %}
{% load appname_tags %}
<!--new comments page-->
	<div class="grid-container3">
		<div class="item item1">
			<ul class="mylist">
				<li>
				    <a href="#" style="color:white;">
						<i class="fa-solid fa-arrow-left-long fa-xl"></i>
						SAMANTA
					</a>
				</li>
				<li>User Name <i class="fa-solid fa-circle-user fa-xl"></i></li>
			</ul>
		</div>
		<div class="item item2">
			<div style=	"margin-top:20%;">
				<a href="#">
				    <span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-user-check fa-2xl"></i></span>
				    <h6 style="padding-top:20px;">Topic</h6>
				</a>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-file-signature fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Article</h6>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-calendar-check fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Post</h6>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-calendar-days fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Schedule</h6>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-color:white; border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-comment fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Comment</h6>
			</div>
		</div>
<div>
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<label class="form-elt-label" style="margin-top:20%;">Comment</label>
		</div>
		<div class="col-md-4"></div>
	</div>
	<form class="" id="titleForm" action="{% url 'generate_article:comment-emoji' %}" method="post" onsubmit='showLoading();'>
	     {% csrf_token %}
	     <div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<label class="form-elt-label">Selected Comment</label>
				<input type="hidden" name="comment" value="{{ comment }}">
				<p>{{ comment }}</p>
			</div>
			<div class="col-md-2"></div>
		</div>


	    <div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<label class="form-elt-label">Select Emoji</label>
				<select name="emoji" id="emoji" class="form-control" style="border-radius: 5px;" required>
		        	<option value="">Select Your Emoji</option>
		        	{% for emoji in emojis %}

                        <option value="{{ emoji }}">{{emoji}}</option>

                    {% endfor %}
		        </select>
			</div>
			<div class="col-md-2"></div>
		</div>


		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<br>
				<button type='submit' class="form-control btn  btn-primary my-btn-primary" style="background: #203474; font-weight: bolder;">Generate comments</button>
			</div>
			<div class="col-md-4"></div>
		</div>
	</form>
</div>
</div>
</div>
{% endblock content %}
