{% extends "article/base.html" %} {% load static %}

{% block script %}
<script src="{% static 'main.js' %}"></script>
{% endblock script %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'step2/css/comments_display.css'%}">

  <div id="ansDisplay">
    <form
      name="form1"
      id="rateForm"
      method="post"
      action="{% url 'generate_article:selected-comment' %}"
    >
      {% csrf_token %} {% for sentence in sentences %}
      <p>{{ sentence.sentence_type }}</p>
      <div class="answer">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="comment"
            id="flexRadioDefault1"
            value="{{ sentence.sentence }}"
          />
          <label class="form-check-label" for="flexRadioDefault1">
            {{ sentence.sentence }}
          </label>
        </div>
      </div>
      <br />
      {% endfor %}
      <button type="submit" class="btn btn-success">SUBMIT</button>
    </form>
  </div>
  {% endblock content %}
