{% extends "article/base_steps.html" %}
{% load static %}
{% load appname_tags %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'step2/css/comments.css' %}">
{% endblock %}

{% block content %}

  <div class="d-flex flex-column justify-content-center align-items-center flex-grow-1">
    <h2 class="m-3 text-center grey-text">Comment</h2>

    <form id="titleForm" action="{% url 'generate_article:generate-comments' %}" method="post" onsubmit='showLoading();'>
      {% csrf_token %}

      <!--<div class="mb-3">-->
      <!--  <label for="Dowellhandlerselect">DoWell Handler</label>-->
      <!--  <select name="Dowellhandler" id="Dowellhandlerselect" class="form-select" required>-->
      <!--    <option disabled>Select your DoWell handler</option>-->
      <!--    <option value="UXLivingLab">UXLivingLab</option>-->
      <!--  </select>-->
      <!--</div>-->

      <div class="mb-3">
        <label for="ProductsSelect" class ="products">Your Products</label>
        <select name="Product" id="ProductsSelect" class="form-select" required>
          <option disabled>Select your products</option>
          {% for topic in topics %}
            <option value="">{{ topic.target_product }}</option>
            <!--mongo id goes in the vlaue section-->
          {% endfor %}
        </select>
      </div>

      <!--<div class="mb-3">-->
      <!--  <label for="TopicSelect">Our Topic/Event (link)</label>-->
      <!--  <select name="Topic" id="TopicSelect" class="form-select" required>-->
      <!--    <option disabled>Select your topic/event</option>-->
      <!--    {% for topic in topics %}-->
      <!--      <option data-value="" value="{{ topic.subject_determinant }}">{{topic.subject_determinant}}</option>-->
      <!--      <option data-value="" value="{{ topic.object_determinant }}">{{topic.object_determinant}}</option>-->
      <!--      <option data-value="" value="{{ topic.object }}">{{topic.object}}</option>-->
      <!--    {% endfor %}-->
      <!--  </select>-->
      <!--</div>-->

      <!--<div class="mb-3">-->
      <!--  <label for="HashtagSelect">Hashtag</label>-->
      <!--  <select name="Hashtag" id="HashtagSelect" class="form-select" required>-->
      <!--    <option disabled>Select your hashtag</option>-->
      <!--      {% for hashtag_group in hashtags %}-->
      <!--        {% for hashtag in hashtag_group.hashtag %}-->
      <!--          <option value="{{ hashtag }} {{ hashtag_group.group_no }}">{{ hashtag }}</option>-->
      <!--        {% endfor %}-->
      <!--      {% endfor %}-->
      <!--  </select>-->
      <!--</div>-->

      <!--<div class="mb-3">-->
      <!--  <label for="SmiliesSelect">Smilies</label>-->
      <!--  <select id="SmiliesSelect" class="form-select" required>-->
      <!--    <option disabled>Select your smilies</option>-->
      <!--    <option value="UXLivingLab">UXLivingLab</option>-->
      <!--  </select>-->
      <!--</div>-->

      <div class="mb-3">
        <label for="SocialMediaSelect" class ="products">Social Media Channels</label>
        <select id="SocialMediaSelect" class="form-select" required>
          <option disabled>Select your social media channels</option>
          <option value="Facebook">Facebook</option>
          <option value="Twitter">Twitter</option>
          <option value="Youtube">Youtube</option>
          <option value="Instagram">Instagram</option>
          <option value="LinkedIn">LinkedIn</option>
        </select>
      </div>

        {% if profile == 'Admin' %}
      <div class="text-center">
        <button type='submit' class="btn btn-dark-blue">Generate comments</button>
      </div>
      {% endif %}

    </form>
  </div>
{% endblock %}


{% block script %}
  {{ block.super }}
    <script src="{% static 'static/step2/js/comments.js' %}"></script>
{% endblock %}