{% extends "article/base_background.html" %}

{% load static %}

{% block style %}
{{ block.super }}
<style type="text/css">

  .content-container{
    background-color: rgba(230, 230, 230, 95%);
  }

  .container {
    width: 69%;
    }

  .btn-dark-blue {
    color: white;
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
  }

  .btn-dark-blue:hover {
      color: white;
      background-color: rgb(20, 38, 85);
  }


  /* Custom styles for the save button */
  .save-button {
      transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
  }

  .saved-button{
      transform: scale(1.05); 
  }

  .check-icon {
      display: none;
  }

  .saved-button .check-icon{
      display: inline-block;
      margin-right: 5px;
  }

  #tag_input:focus, #men_input:focus {
    box-shadow: 0 0 0 1.2px rgb(49 54 61 / 25%);
    border: none;
    outline: none; 
  }

  .save-button {
    border-radius: 16px !important;
    width: 129px;
  }

  #tagBtn:focus, #mentionBtn:focus, .save-button:focus{
    box-shadow: 0 0 0 0.1rem rgba(38,143,255,.5);
  }

</style>
{% endblock %}


{% block stuff %}

<div class="container">

    <div class="flex-wrap justify-content-center">
      <h4 class="blue-text text-center mb-5">Add Hashtags and Mentions</h4>

      <div class="row">

        <div class="col-sm" >
          <p class= "text-center" style="font-weight: 500">Hashtags</p>
          <div class="input-group rounded mb-3" style="border-radius: 25px;">
             <span class="input-group-text text-center d-inline-block" id="basic-addon1" style="background-color: #8c9ba9; width: 26px">#</span>
            <input type="text" class="form-control" aria-describedby="button-addon2" id="tag_input" placeholder="Hashtags...">
            <button class="btn btn-primary btn-dark-blue" type="button" id="tagBtn" style="border-radius: 0 25px 25px 0;">Add</button>
          </div>

          <div  id="tag_col" class="d-flex flex-wrap ms-3"></div>
        </div>

        <div class="col-sm">
          <p class="text-center" style="font-weight: 500">Mentions</p>
          <div class="input-group rounded mb-3" style="border-radius: 25px;">
            <span class="input-group-text text-center d-inline-block" id="basic-addon1" style="background-color: #8c9ba9; width: 26px">@</span>
            <input type="text" class="form-control" aria-describedby="button-addon2" id="men_input" placeholder="Mentions...">
            <button class="btn btn-primary btn-dark-blue" type="button" id="mentionBtn" style="border-radius: 0 25px 25px 0;">Add</button>
          </div>

          <div id="men_col" class="d-flex flex-wrap ms-3"></div>
        </div>


      </div> 

      <div class="text-center">
        <button type="button" class="btn btn-primary rounded btn-dark-blue save-button mt-5" onclick="toggleSaved(this);">Save <i class="fas fa-check check-icon"></i></button>
      </div>
      
    </div>
    
</div>


<script>
    tagBtn = document.getElementById("tagBtn");
    mentionBtn = document.getElementById("mentionBtn");

    tagBtn.addEventListener("click", (e) => {
      e.preventDefault();

      pushData('hashtag_value', 'tag_input', 'tag_col');
    })

    mentionBtn.addEventListener("click", (e) => {
      e.preventDefault();
      pushData('mention_value', 'men_input', 'men_col');
    })

    function pushData(name, inputId, col) {
      let view = document.getElementById(col);
      var inputText = document.getElementById(inputId).value;
      if(!inputText){
        return;
      }
      view.innerHTML += `<div class="form-check me-3 role="tags_mentions">
                          <input class="form-check-input" type="checkbox" value="" id="${name}">
                          <label class="form-check-label font-italic" for="${name}" id="mention_list" style="font-weight: 500">
                            ${inputText}
                          </label>
                          <button style="font-size: 10px;" type="button" class="btn-close btn-sm" aria-label="Close"  onclick="removeDiv(this)"></button>
                        </div>`;
      document.getElementById(inputId).value = "";
    }
    
    function removeDiv(button) {
      const divToRemove = button.parentElement; // Get the parent div
      if (divToRemove) {
        divToRemove.remove();
      }
    }

    // for save button transition
    function toggleSaved(button) {
      button.classList.toggle('saved-button');
      if (button.classList.contains('saved-button')) {
          button.innerHTML = 'Saved <i class="fas fa-check check-icon"></i>';
      } else {
          button.innerHTML = 'Save <i class="fas fa-check check-icon"></i>';
      }
    }

</script>
{% endblock %}