{% extends "article/base_background.html" %}

{% load static %}

{% comment %} <style type="text/css"> 

</style> {% endcomment %}

{% block style %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'step2/css/hash_mention.css' %}">
{% endblock %}

{% block script %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'step2/js/hash_mention.js' %}"></script>
{% endblock %}


{% block stuff %}

<div class="container">

  <div class="flex-wrap justify-content-center">
    <h4 class="blue-text text-center mb-5">Add Hashtags and Mentions</h4>
    {% if status == 'insert' %}
    <form method="post" id="hashMentionForm" action="{% url 'generate_article:save_hash_mention' %}">
      {% csrf_token %}
      <div class="row">

        <div class="col-sm" >
          <p class= "text-center" style="font-weight: 500">Hashtags</p>
          <div class="input-group rounded mb-3" style="border-radius: 25px;">
            <span class="input-group-text text-center d-inline-block" id="basic-addon1" style="background-color: #8c9ba9; width: 26px">#</span>
            <input name="hashtag" type="text" class="form-control" aria-describedby="button-addon2" id="tag_input" placeholder="Enter one hashtag..">
            <input type="hidden" name="hashtags_list" id="hashtags_list" value="">
            <button class="btn btn-primary btn-dark-blue" type="button" id="tagBtn" style="border-radius: 0 25px 25px 0;">Add</button>
          </div>

          <div  id="tag_col" class="d-flex flex-wrap ms-3"></div>
        </div>

        <div class="col-sm">
          <p class="text-center" style="font-weight: 500">Mentions</p>
          <div class="input-group rounded mb-3" style="border-radius: 25px;">
            <span class="input-group-text text-center d-inline-block" id="basic-addon1" style="background-color: #8c9ba9; width: 26px">@</span>
              <input name="mention" type="text" class="form-control" aria-describedby="button-addon2" id="men_input" placeholder="Mention one user..">
              <input type="hidden" name="mentions_list" id="mentions_list" value="">
            <button class="btn btn-primary btn-dark-blue" type="button" id="mentionBtn" style="border-radius: 0 25px 25px 0;">Add</button>
          </div>

          <div id="men_col" class="d-flex flex-wrap ms-3"></div>
        </div>


      </div>

      <div class="text-center">
        <button class="btn btn-primary rounded btn-dark-blue save-button mt-5" onclick="submitForm();" id="saveBtn" disabled >Save <i class="fas fa-check check-icon"></i></button>
      </div>
    </form>
    {% else %}
    <form method="post" id="hashMentionForm" action="{% url 'generate_article:update_hash_mention' %}">
      {% csrf_token %}
      <div class="row">

        <div class="col-sm" >
          <p class= "text-center" style="font-weight: 500">Hashtags</p>
          <div class="input-group rounded mb-3" style="border-radius: 25px;">
            <span class="input-group-text text-center d-inline-block" id="basic-addon1" style="background-color: #8c9ba9; width: 26px">#</span>
            <input name="hashtag" type="text" class="form-control" aria-describedby="button-addon2" id="tag_input" placeholder="Enter one hashtag..">
            <input type="hidden" name="hashtags_list" id="hashtags_list" value="">
            <button class="btn btn-primary btn-dark-blue" type="button" id="tagBtn" style="border-radius: 0 25px 25px 0;">Add</button>
          </div>

          <div  id="tag_col" class="d-flex flex-wrap ms-3"></div>
        </div>

        <div class="col-sm">
          <p class="text-center" style="font-weight: 500">Mentions</p>
          <div class="input-group rounded mb-3" style="border-radius: 25px;">
            <span class="input-group-text text-center d-inline-block" id="basic-addon1" style="background-color: #8c9ba9; width: 26px">@</span>
              <input name="mention" type="text" class="form-control" aria-describedby="button-addon2" id="men_input" placeholder="Mention one user..">
              <input type="hidden" name="mentions_list" id="mentions_list" value="">
            <button class="btn btn-primary btn-dark-blue" type="button" id="mentionBtn" style="border-radius: 0 25px 25px 0;">Add</button>
          </div>

          <div id="men_col" class="d-flex flex-wrap ms-3"></div>
        </div>


      </div>

      <div class="text-center">
        <button class="btn btn-primary rounded btn-dark-blue save-button mt-5" onclick="submitForm();" disabled id="saveBtn">Save <i class="fas fa-check check-icon"></i></button>
      </div>
    </form>
    {%endif%}
  </div>   

</div>

{% comment %} 
<script>
 
</script> {% endcomment %}

{% endblock %}