{% extends "article/base.html" %}
{% load static %}
<link
    rel="stylesheet"
    href="../static/step2/css/login.css"
  />

{% block script %}
<script src="{% static 'main.js' %}"></script>
{% endblock script %}
{% block content %}
    <!-- for background -->
    <div class="background"></div>

    <!-- for form container -->
    <div class="overlay-container">
      <!-- log in form -->
      <div class="form_container">
        <div class="form_container_left container" style="background-color:#e8e4e4;">

          <form action="#">
            <h2 style="text-align: center; color:#203474; font-weight:bold;">Login In Here</h2>
            <div class="#">
              <label style="color:black;padding-top: 8px; padding-bottom: 8px;">Email</label>
              <input type="text" name="Email" class="form-control" placeholder="Enter your email address">
            </div>
            <div class="#">
              <label style="color:black; padding-top: 8px; padding-bottom: 8px;">Password</label>
              <input type="password" name="Email" class="form-control" placeholder="Enter your password">
            </div>
            <div style="padding-top: 8px; padding-bottom: 8px; text-align: center;">
              <span style="color:#203474;">Forgot Password? <a href="https://www.socialmediaautomation.uxlivinglab.online/forgot_password/" style="color:#203474;"><b>Click Here</b></a></span>
            </div>
            <div>
              <button type="submit" class="btn btn-primary form-control" style="background-color: #203474;">Log In</button>
            </div>
            <div style="padding-top: 4px; padding-bottom: 4px; text-align: center;">
              <span style="color:#203474;">Don't have an account? <a href="https://www.socialmediaautomation.uxlivinglab.online/signup/" style="color:#203474; font-weight:bold;">Sign Up</a></span>
            </div>
            <div style="padding-top: 4px; padding-bottom: 8px; text-align: center;">
              <span style="color:#203474;">Continue with ...</span>
            </div>
            <div class="flex-container">
              <span><a href="#"><i class="fa-brands fa-google fa-2xl"></i></a></span>
              <span><a href="#"><i class="fa-brands fa-facebook fa-2xl"></i></a></span>
              <span><a href="#"><i class="fa-brands fa-twitter-square fa-2xl"></i></a></span>
            </div>
          </form>
        </div>
        <div class="form_container_right" style="background-color:white;">
         {% load static %}<img src="{% static "photos/Lady-Pixel.png"%}">
        </div>
      </div>
    </div>
{% endblock content %}