{% extends "article/base.html" %}
{% load static %}

{% block script %}
<script src="{% static 'main.js' %}"></script>
{% endblock script %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'step2/css/main.css'%}">

<!-- <p>Django Event Calendar</p> -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Schedule Posts</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Please select one.</p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'generate_article:scheduled-posts' %}" class="btn btn-primary">Scheduled Posts</a>
        <a href="{% url 'generate_article:unscheduled-posts' %}" class="btn btn-dark">Unscheduled Posts</a>
      </div>
    </div>
  </div>
</div>

		<div class="grid-container">
			<div>
				<div class="myHeadings">
				    {% if porfolio_is_empty %}
				    <div class="alert alert-danger" role="alert">
                      You do not have any portfolio object! Please go to <a href="https://100093.pythonanywhere.com/">Living lab</a> and connect using a portfolio.
                    </div>
                    {% endif %}
					<div class="txtpadding" style="color: #207beb">
						<h3>Automate Your Social Media with Samanta</h3>
					</div>
					<div>
						<h5 class="purple-text">Easily Manage all your Social and get Efficient Results</h5>
					</div>
					<div class="txtpadding">
                        <h5 id="whiteStorm">Step by Step</h5>
                        <h5>Ordering Process</h5>
                    </div>

                </div>
                <div class="item item2">
                    <div>
                        <a class="check-key" href="{% url 'index' %}">{% load static %}<img src="{% static "photos/Step-1.png" %}"></a>
                    </div>
                    <div>
                        <a class="check-key" href="{% url 'generate_article:article-list-articles' %}">{% load static %}<img
                                src="{% static "photos/Step-2.png" %}"></a>
                    </div>
                    <div>
                        <a class="check-key" href="{% url 'generate_article:article-list' %}">{% load static %}<img
                                src="{% static "photos/Step-3.png" %}"></a>
                    </div>
                    <div>
                        <a class="check-key" href="{% url 'generate_article:recent-post' %}">{% load static %}<img
                                src="{% static "photos/Step-4.png" %}"></a>
                    </div>
                    <div>
                        <a class="check-key" href="{% url 'generate_article:comments' %}">{% load static %}<img
                                src="{% static "photos/Step-5.png" %}"></a>
                    </div>
				</div>

			</div>
			<div class="item item3">
				<img src="{% static 'photos/Lady-Pixel.png'%}" style="padding-top:10%;">
			</div>
		</div>
		<!--modify to add two buttons; admin and back-->
        <!--<div class ="row justify-content-evenly mt-2">-->
        <!--    <div class="col-2">-->
        <!--        <button class="btn btn-secondary btn-lg">Admin</button>-->
        <!--    </div>-->
        <!--    <div class="col-2">-->
        <!--        <button class="btn btn-primary btn-lg">Back </button>-->
        <!--    </div>-->

        <!--</div>-->
<!--    </div>-->
<!--</div>-->


{% endblock content %}
