{% extends "article/base_steps.html" %} {% load static %} {% load appname_tags
%} {% block content %}

<link rel="stylesheet" href="{% static 'step2/css/most_recent.css' %}" />

<div class="container mt-5 mb-5 pt-3 pb-3">
  <div class="list-group list-group-flush">
    <div class="justify-content-center d-flex" style="color: #1434a4">
      <div>
        <h4
          style="
            font-family: 'Amazon Ember', sans-serif;
            font-size: 30px;
            font-weight: bold;
            padding: 30px;
            text-decoration: underline;
          "
        >
          Most Recent
        </h4>
      </div>
      <div>
        <a href="{% url 'generate_article:unscheduled-posts' %}">
          <h4
            style="
              font-family: 'Amazon Ember', sans-serif;
              font-size: 30px;
              font-weight: bold;
              padding: 30px;
            "
          >
            Unscheduled Posts
          </h4>
        </a>
      </div>
      <div>
        <a href="{% url 'generate_article:scheduled-posts' %}">
          <h4
            style="
              font-family: 'Amazon Ember', sans-serif;
              font-size: 30px;
              font-weight: bold;
              padding: 30px;
            "
          >
            Scheduled Posts
          </h4>
        </a>
      </div>
    </div>
    <div id="post-count"></div>
    <div class="articles-container"></div>
    <div id="paginationContainer"></div>
  </div>
</div>

<script type="module" src="../static/step2/js/most_recent.js"></script>

{% endblock content %}
