{% extends "article/base_steps.html" %} {% load static %} {% load appname_tags
%} {% block content %}

<style type="text/css">
  p {
    padding: 0 !important;
    margin: 0 !important;
  }

  .icons8-clock {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAsMCwyNTYsMjU2IgpzdHlsZT0iZmlsbDojMDAwMDAwOyI+CjxnIGZpbGwtb3BhY2l0eT0iMC40ODYyNyIgZmlsbD0iIzAwMDAwMCIgZmlsbC1ydWxlPSJub256ZXJvIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9ImJ1dHQiIHN0cm9rZS1saW5lam9pbj0ibWl0ZXIiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLWRhc2hhcnJheT0iIiBzdHJva2UtZGFzaG9mZnNldD0iMCIgZm9udC1mYW1pbHk9Im5vbmUiIGZvbnQtd2VpZ2h0PSJub25lIiBmb250LXNpemU9Im5vbmUiIHRleHQtYW5jaG9yPSJub25lIiBzdHlsZT0ibWl4LWJsZW5kLW1vZGU6IG5vcm1hbCI+PGcgdHJhbnNmb3JtPSJzY2FsZSgxMC42NjY2NywxMC42NjY2NykiPjxwYXRoIGQ9Ik0xMiwyYy01LjUyMywwIC0xMCw0LjQ3NyAtMTAsMTBjMCw1LjUyMyA0LjQ3NywxMCAxMCwxMGM1LjUyMywwIDEwLC00LjQ3NyAxMCwtMTBjMCwtNS41MjMgLTQuNDc3LC0xMCAtMTAsLTEwek0xNS4yOTMsMTYuNzA3bC00LjI5MywtNC4yOTN2LTYuNDE0aDJ2NS41ODZsMy43MDcsMy43MDd6Ij48L3BhdGg+PC9nPjwvZz4KPC9zdmc+")
      50% 50% no-repeat;
    background-size: 100%;
  }

  .articles-container {
    max-width: 100%;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .article-main {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    margin-top: 40px;
  }
  .article-main div {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .source-link,
  .article-main div span {
    font-family: "Amazon Ember", sans-serif;
    font-size: 16px;
    font-weight: regular;
    color: #0000007c;
  }

  .article-main > img {
    width: 170px;
    height: 170px;
    border-radius: 5%;
    margin-top: 50px;
    align-self: flex-start;
    margin: 0px !important;
  }
  .article-main div h3 {
    font-size: 27px;
    font-weight: bold;
    color: blue;
    margin-top: -25px;
  }
  .article-main div span {
    font-size: 14px;
    display: flex;
    gap: 4px;
    align-items: center;
    align-self: flex-end;
  }
  .article-main div p {
    line-height: 26px;
  }
  #paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 12px;
  }
  #paginationContainer button {
    border: none;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border-radius: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    padding: 9px 14px;
  }
  #paginationContainer button:hover {
    background-color: #dadada;
  }
  #paginationContainer button:disabled {
    display: none;
  }
  #paginationContainer a {
    color: rgb(0, 0, 0);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  #paginationContainer a.active {
    background-color: #1b3476;
    color: white;
  }
  #paginationContainer a.active:hover {
    background-color: #1b3476;
    color: white;
  }
  #paginationContainer a:hover {
    background-color: #dadada;
  }
  #paginationContainer span {
    color: rgb(0, 0, 0);
    width: 40px;
    height: 40px;
    font-size: 11px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    letter-spacing: 0px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  #paginationContainer span:hover {
    background-color: #c7c7c7;
  }
</style>

<div class="container mt-5 mb-5 pt-3 pb-3">
  <div class="list-group list-group-flush">
    <div class="justify-content-center d-flex" style="color: #1434a4">
      <div>
        <h4
          style="
            font-family: 'Amazon Ember', sans-serif;
            font-size: 30px;
            font-weight: bold;
            padding: 30px;
            text-decoration: underline;
          "
        >
          Most Recent
        </h4>
      </div>
      <div>
        <a href="{% url 'generate_article:unscheduled-posts' %}">
          <h4
            style="
              font-family: 'Amazon Ember', sans-serif;
              font-size: 30px;
              font-weight: bold;
              padding: 30px;
            "
          >
            Unscheduled Posts
          </h4>
        </a>
      </div>
      <div>
        <a href="{% url 'generate_article:scheduled-posts' %}">
          <h4
            style="
              font-family: 'Amazon Ember', sans-serif;
              font-size: 30px;
              font-weight: bold;
              padding: 30px;
            "
          >
            Scheduled Posts
          </h4>
        </a>
      </div>
    </div>
    <div id="post-count"></div>
    <div class="articles-container"></div>
    <div id="paginationContainer"></div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", async function () {
    const itemsPerPage = 5;
    let currentPage = 1;

    const articleTemplate = (article) => {
      return `
      <div>
            <span class="source-link">${
              article.source ? article.source : "None"
            }</span>
            <div class="article-main">
                <div>
                    <h3>${article.title}</h3>
                    <p>${article.paragraph}</p>
                    <span><div class="icons8-clock"></div><p>${
                      article.Date
                    }</p></span>
                </div>
                <img src="${article.image}" alt="image" />
            </div>
        </div>
        `;
    };

    const calculateTimeDifference = (timestamp) => {
      const now = new Date();
      const postDate = new Date(timestamp);
      const timeDifference = now - postDate;
      const minutes = Math.floor(timeDifference / (1000 * 60));
      const month = Math.floor(minutes / 43829);
      const week = Math.floor((minutes % 43829) / 10080);
      const day = Math.floor((minutes % 10080) / 1440);
      if (month !== 0) {
        return `${
          month !== 0 ? month + ` ${month === 1 ? "month" : "months"}` : ""
        }
        ${
          week !== 0 ? ", " + week + ` ${week === 1 ? "week" : "weeks"}` : ""
        } ago
        
        `;
      }
      if (month === 0) {
        return `${week !== 0 ? week + ` ${week === 1 ? "week" : "weeks"}` : ""}
        ${day !== 0 ? ", " + day + ` ${day === 1 ? "day" : "days"}` : ""} ago
        
        `;
      }
    };

    const fetchedData = async () => {
      try {
        const res = await fetch("http://127.0.0.1:8000/recent_json");
        const data = await res.json();
        return { data: data.response, totalCount: data.response.length };
      } catch (error) {
        console.log(error);
        alert(error.message);
      }
    };

    const { data, totalCount } = await fetchedData();

    function displayData(showData, totalCount) {
      const articlesContainer = document.querySelector(".articles-container");
      articlesContainer.innerHTML = "";

      document.getElementById(
        "post-count"
      ).innerHTML = `<p>Total posts count: ${totalCount}</p>`;

      if (Array.isArray(showData)) {
        let articlesHtml = ""; // Initialize an empty string to accumulate HTML

        showData.forEach((article) => {
          article.Date = calculateTimeDifference(article.Date);
          articlesHtml += articleTemplate(article); // Concatenate the rendered article HTML
        });

        articlesContainer.innerHTML = articlesHtml; // Set the accumulated HTML
      }
    }

    function updatePaginationButtons(totalCount) {
      const totalPages = Math.ceil(totalCount / itemsPerPage);

      const paginationLinks = document.querySelectorAll(
        "#paginationContainer a"
      );
      const prevButton = document.querySelector(
        "#paginationContainer button:nth-child(1)"
      );
      const nextButton = document.querySelector(
        "#paginationContainer button:nth-last-child(1)"
      );

      paginationLinks.forEach((link) => {
        link.classList.remove("active");
        if (Number(link.textContent) === currentPage) {
          link.classList.add("active");
        }
      });

      prevButton.disabled = currentPage === 1;
      nextButton.disabled = currentPage === totalPages;
    }

    function displayPagination(totalCount) {
      const totalPages = Math.ceil(totalCount / itemsPerPage);

      const paginationContainer = document.getElementById(
        "paginationContainer"
      );
      paginationContainer.innerHTML = "";

      // Previous Button
      const prevButton = document.createElement("button");
      prevButton.textContent = "Previous";
      prevButton.addEventListener("click", () => {
        if (currentPage > 1) {
          currentPage--;
          displayDataForCurrentPage();
          updatePaginationButtons();
        }
      });

      paginationContainer.appendChild(prevButton);

      // Display page numbers

      const startPage = Math.floor((currentPage - 1) / 5) * 5 + 1;
      const endPage = Math.min(startPage + 4, totalPages);

      //Current page number
      for (let i = startPage; i <= endPage; i++) {
        const pageLink = document.createElement("a");
        pageLink.textContent = i;
        pageLink.href = "#";
        pageLink.addEventListener("click", (event) => {
          event.preventDefault();
          currentPage = i;
          displayDataForCurrentPage();
          updatePaginationButtons();
        });
        paginationContainer.appendChild(pageLink);
      }

      // More Button
      const moreButton = document.createElement("span");
      if (totalPages <= 7) {
        moreButton.style.display = "none";
      }
      moreButton.textContent = ">>";
      moreButton.addEventListener("click", () => {
        const maxPage = Math.ceil(totalPages / 7); // Increase '5' to display more page numbers at once
        const nextGroupLastPage = currentPage + 5;
        currentPage = Math.min(nextGroupLastPage, maxPage);
        displayDataForCurrentPage();
        updatePaginationButtons();
      });
      paginationContainer.appendChild(moreButton);

      // Next Button
      const nextButton = document.createElement("button");
      nextButton.textContent = "Next";
      nextButton.addEventListener("click", () => {
        if (currentPage < totalPages) {
          currentPage++;
          displayDataForCurrentPage();
          updatePaginationButtons();
        }
      });

      paginationContainer.appendChild(nextButton);

      updatePaginationButtons(totalCount);
    }

    async function displayDataForCurrentPage() {
      const { data, totalCount } = await fetchedData();

      const startIndex = (currentPage - 1) * itemsPerPage;
      const endIndex = startIndex + itemsPerPage;
      const dataToShow = data.slice(startIndex, endIndex);
      console.log(dataToShow);
      displayData(dataToShow, totalCount);
      displayPagination(totalCount);
    }

    displayDataForCurrentPage();
  });
</script>

{% endblock content %}
