{% extends "article/base_background.html" %}
{% load static %}

{% block stuff %}
  <h1 class="blue-text">Meet our Team</h1>

  <div class="mx-3">
    <i class="fa-solid fa-circle-user fa-4x m-4"></i>
    <div class="text-center">Admin</div>
    <div class="text-center fw-bold">{{ request.session.username  | capfirst }}</div>
  </div>

  <br>
  <h1 class="blue-text">Members</h1>

  <div class="d-flex flex-wrap justify-content-center">
    <div class="mx-3">
      <i class="fa-solid fa-circle-user fa-4x m-4"></i>
      <div class="text-center fw-bold">Username</div>
    </div>
    <div class="mx-3">
      <i class="fa-solid fa-circle-user fa-4x m-4"></i>
      <div class="text-center fw-bold">Username</div>
    </div>
    <div class="mx-3">
      <i class="fa-solid fa-circle-user fa-4x m-4"></i>
      <div class="text-center fw-bold">Username</div>
    </div>
    <div class="mx-3">
      <i class="fa-solid fa-circle-user fa-4x m-4"></i>
      <div class="text-center fw-bold">Username</div>
    </div>
  </div>
{% endblock %}