{% extends "article/base.html" %}
{% load static %}

{% block script %}
<script src="{% static 'main.js' %}"></script>
{% endblock script %}
{% block content %}
 <style type="text/css">
			.grid-container
			{
				display: grid;
				grid-gap: 5px;
				grid-template-columns: 75fr 25fr;
				grid-template-rows:5vh 95vh;
			}
			.item1
			{
				background-color: blue;
				grid-column-start: 1;
				grid-column-end: 3;
			}


			.item2
			{
				grid-column-start: 1;
				grid-column-end: 2;
			}
			.item{
				display: grid;
				text-align: center;
				grid-template-columns: repeat(5,20fr);
			}

			.item3
			{
				grid-column-start: 2;
				grid-column-end: 3;
			}
			svg{
				transform: rotate(90deg);
				border-radius: 10px;
			}
			.myHeadings{
				text-align: center;
			}
			#whiteStorm{
				font-family: cursive;
				font-style: italic;
				color: #6b2722;
			}
				.txtpadding{
				padding:2.5%;
			}
			.mylist{
				display: flex;
				list-style: none;
				padding: 5px;
				color: white;
			}
		</style>
		<div class="grid-container">
			<div class="item item1">
			    <ul class="mylist">
					<li><i class="fa-regular fa-pen"></i>Ai Writer</li>
					<li>User Name</li>
				</ul>
			</div>
			<div>
				<div class="myHeadings">
					<div class="txtpadding">
						<h3>Authomate Your Social Media with Samanta</h3>
					</div>
					<div>
						<h5>Easily Manage all your Social and get Efficient Results</h5>
					</div>
					<div class="txtpadding">
						<h6 id="whiteStorm">Step by Step</h6>
						<h6>Ordering Process</h6>
					</div>

				</div>
				<div class="item item2">
					<div>
						<a href="{% url "topic" %}">{% load static %}<img src="{% static "photos/Step-1.png"%}"></a>
					</div>
					<div>
						<a href="{% url "article" %}">{% load static %}<img src="{% static "photos/Step-2.png"%}"></a>
					</div>
					<div>
						<a href="{% url "posts" %}">{% load static %}<img src="{% static "photos/Step-3.png"%}"></a>
					</div>
					<div>
						<a href="{% url "not_scheduled" %}">{% load static %}<img src="{% static "photos/Step-4.png"%}"></a>
					</div>
					<div>
						<a href="#">{% load static %}<img src="{% static "photos/Step-5.png"%}"></a>
					</div>
				</div>

			</div>
			<div class="item item3">
				{% load static %}<img src="{% static "photos/Lady-Pixel.png"%}" style="padding-top:30%;">
			</div>
		</div>

{% endblock content %}