{% extends "article/base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'step2/css/new_main.css'%}">

{% block script %}
<script src="{% static 'main.js' %}"></script>
{% endblock script %}
{% block content %}
		<div class="grid-container">
			<div class="item item1">
			    <ul class="mylist">
					<li><i class="fa-regular fa-pen"></i>Ai Writer</li>
					<li>User Name</li>
				</ul>
			</div>
			<div>
				<div class="myHeadings">
					<div class="txtpadding">
						<h3>Authomate Your Social Media with Samanta</h3>
					</div>
					<div>
						<h5>Easily Manage all your Social and get Efficient Results</h5>
					</div>
					<div class="txtpadding">
						<h6 id="whiteStorm">Step by Step</h6>
						<h6>Ordering Process</h6>
					</div>

				</div>
				<div class="item item2">
					<div>
						<a href="{% url "topic" %}">{% load static %}<img src="{% static "photos/Step-1.png"%}"></a>
					</div>
					<div>
						<a href="{% url "article" %}">{% load static %}<img src="{% static "photos/Step-2.png"%}"></a>
					</div>
					<div>
						<a href="{% url "posts" %}">{% load static %}<img src="{% static "photos/Step-3.png"%}"></a>
					</div>
					<div>
						<a href="{% url "not_scheduled" %}">{% load static %}<img src="{% static "photos/Step-4.png"%}"></a>
					</div>
					<div>
						<a href="#">{% load static %}<img src="{% static "photos/Step-5.png"%}"></a>
					</div>
				</div>

			</div>
			<div class="item item3">
				{% load static %}<img src="{% static "photos/Lady-Pixel.png"%}" style="padding-top:30%;">
			</div>
		</div>

{% endblock content %}