{% extends "article/base.html" %}
{% load static %}

{% block script %}
<script src="{% static 'main.js' %}"></script>
    <script type="text/javascript" src="{% static 'step2/js/not_scheduled.js' %}"></script>
{% endblock script %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'step2/css/not-scheduled.css' %}">

<div class="grid-container3">
	<div class="item item1" style="padding-top: 15px;">
		<ul class="mylist">
			<li>
				<a href="#" style="color:white;">
					<i class="fa-solid fa-arrow-left-long fa-2xl" style="padding-right: 10px;"></i>
					<label style="color:white; padding-right: 50px;"><b>SAMANTA</b></label>
				</a>
			</li>
			<li style="padding-left:25%;">
				<form>
					<select id="disabledSelect" style="width:200px; border-radius: 5px;">
			        	<option>Select Your Article</option>
			        	<option>1</option>
			        	<option>2</option>
			        </select>
					<i class="fa-solid fa-magnifying-glass fa-xl"></i>
				</form>
			</li>
			<li style="padding-left:40%;">
				<i class="fa-solid fa-circle-user fa-2xl"></i>
			</li>
		</ul>
	</div>
	<div class="item item2">
		<div style=	"margin-top:20%;">
			<a href="#">
			    <span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-user-check fa-2xl"></i></span>
			    <h6 style="padding-top:20px;">Topic</h6>
			</a>
		</div>
		<div style=	"margin-top:20%;">
			<span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-file-signature fa-2xl"></i></span>

			<h6 style="padding-top:20px;">Article</h6>
		</div>
		<div style=	"margin-top:20%;">
			<span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-calendar-check fa-2xl"></i></span>

			<h6 style="padding-top:20px;">Post</h6>
		</div>
		<div style=	"margin-top:20%;">
			<span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-calendar-days fa-2xl"></i></span>

			<h6 style="padding-top:20px;">Schedule</h6>
		</div>
		<div style=	"margin-top:20%;">
			<span class="content" style="border-style: solid;border-color:white; border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-comment fa-2xl"></i></span>

			<h6 style="padding-top:20px;">Comment</h6>
		</div>
	</div>
	<div class="item item3 container">
		<div class="item item3-header">
			<ul class="mylist">
				<li class="nav-link active-link">
					<a href="#">Most Recent</a>
					<div class="underline"></div>
				</li>
				<li class="nav-link">
					<a href="#" onclick="load_scheduled();">Scheduled</a>
					<div class="underline"></div>
				</li>
				<li class="nav-link">
					<a href="#" onclick="load_not_scheduled();">Not Scheduled</a>
					<div class="underline"></div>
				</li>
			</ul>
		</div>
		<div class="item item3-body" id="scheduled_posts">
				<form class="container">
					<div class="row">
						<div class="col-md-8">
							<a href="#">aiwriter.media/login</a>> <i>Health</i> ><i>fitness</i>
							<h5 class="form-elt-label">Healthy Lifestyle Benefits-Healthline</h5>
							<p>
								When you do this, we recommend including additional JavaScript to move the focus programmatically to the container when it is opened. Otherwise, keyboard users and users of assistive technologies will likely have a hard time finding the newly revealed content - particularly if the container that was opened comes before the toggler in the document’s structure. We also recommend making sure that the toggler has the aria-controls attribute
							</p>
							<p id="textArea">

							</p>
							<a id="toggleButton" onclick="toggleText();" href="javascript:void(0);">See More</a>
						</div>
						<div class="col-md-4" style="padding-top:50px;">
							<a href="#"><img src="{% static "photos/Plate-1.png" %}"></a>
						</div>
					</div>
					<form class="container">
					<div class="row">
						<div class="col-md-8">
							<a href="#">aiwriter.media/login</a>> <i>Health</i> ><i>fitness</i>
							<h5 class="form-elt-label">Healthy Lifestyle Benefits-Healthline</h5>
							<p>
								When you do this, we recommend including additional JavaScript to move the focus programmatically to the container when it is opened. Otherwise, keyboard users and users of assistive technologies will likely have a hard time finding the newly revealed content - particularly if the container that was opened comes before the toggler in the document’s structure. We also recommend making sure that the toggler has the aria-controls attribute
							</p>
							<p id="textArea">

							</p>
							<a id="toggleButton" onclick="toggleText();" href="javascript:void(0);">See More</a>
						</div>
						<div class="col-md-4" style="padding-top:50px;">
							<a href="#"><img src="{% static "photos/Plate-2.png" %}"></a>
						</div>
					</div>
				</form>
		</div>
		<div class="item item3-body" id="unscheduled_posts" hidden>
			<form class="container">
				<!-- use for loop to iterate and post these two or more rows -->
				<!-- for recent_post in posts -->
				<div class="row">
					<div class="col-md-8">
						<a href="#">aiwriter.media/login</a>> <i>Health</i> ><i>fitness</i>
						<h5 class="form-elt-label">Healthy Lifestyle Benefits-Healthline</h5>
						<p>
							When you do this, we recommend including additional JavaScript to move the focus programmatically to the container when it is opened. Otherwise, keyboard users and users of assistive technologies will likely have a hard time finding the newly revealed content - particularly if the container that was opened comes before the toggler in the document’s structure. We also recommend making sure that the toggler has the aria-controls attribute . . .
							<br>
						<div class="form-group div-btn-style">
							<button type="button" class="btn btn-md btn-primary">Post Now</button>
							<button type="button" class="btn btn-md btn-primary schedule-now-btn">Schedule</button>
						</div>
						</p>
						<!-- <p id="textArea">

						</p>
						<a id="toggleButton" onclick="toggleText();" href="javascript:void(0);">See More</a> -->
					</div>
					<div class="col-md-4" style="padding-top:50px;">
						<a href="#">{% load static %}<img src="{% static "photos/Plate-1.png" %}"></a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<a href="#">aiwriter.media/login</a>> <i>Health</i> ><i>fitness</i>
						<h5 class="form-elt-label">Healthy Lifestyle Benefits-Healthline</h5>
						<p>
							When you do this, we recommend including additional JavaScript to move the focus programmatically to the container when it is opened. Otherwise, keyboard users and users of assistive technologies will likely have a hard time finding the newly revealed content - particularly if the container that was opened comes before the toggler in the document’s structure. We also recommend making sure that the toggler has the aria-controls attribute . . .
								<br>
							<div class="form-group div-btn-style">
								<button type="button" class="btn btn-md btn-primary">Post Now</button>
								<button type="button" class="btn btn-md btn-primary schedule-now-btn">Schedule</button>
							</div>
						</p>
						<!--<p id="textArea">

						</p>
						<a id="toggleButton" onclick="toggleText();" href="javascript:void(0);">See More</a> -->
					</div>
					<div class="col-md-4" style="padding-top:50px;">
						<a href="#"><img src="{% static "photos/Plate-2.png" %}"></a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock content %}