
{% load static %}

{% block script %}
<script src="{% static 'main.js' %}"></script>
{% endblock script %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'step2/css/portfolio-logoib.css'%}">

    <center>


            <img src="https://media.discordapp.net/attachments/1078589105207787581/1113098637795393567/Social_media_automation.png?width=431&height=431" alt="Social Media">

            <p class="line-1 anim-typewriter">You Don't Have A Portofolio, Please <a class="link-1" href="https://100093.pythonanywhere.com/">Create One Here!!!</a> </p>
    </center>

<script type="text/javascript" src="{% static 'step2/js/portfolio-logoib.js'%}"></script>

{% endblock %}