{% extends "article/base_steps.html" %}
{% load static %}


{% block content %}
<!--{% load appname_tags %}-->
<style>
    .btn-primary {
        background: #0d6efd;
    }

    .btn-cancel {
        background: #0d6efd;
        margin-right: 20px; /* Adjust the margin value as needed */
        margin-top:4px;
        width: 100px;
    }

    .table td, th {
        border: none !important;
    }

    .btn-view {
        font-size: 0.7rem;
        color: white;
        background-color: var(--dark-blue);
        border-color: var(--dark-blue);
    }

    .btn-view:hover {
        color: white;
        background-color: rgb(20, 38, 85);
    }

    .btn-view:active{
        background-color: rgb(20, 38, 85) !important;
    }

    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
        padding:0; 
    }

    .table tr,.table td{
        height: 10px;
    }

    .table>thead>tr>th {
        margin-bottom: 40px; 
    }

    .title-p {
        color: #1434A4;
        font-size: 20px; 
        font-weight: 600;
    }

    @media only screen and (max-width: 805px){
        .table tr, .table td {
            height: 10px;
            font-size: 0.6rem;
        }
    
        .title-p {
            color: #1434A4;
            font-size: 9px;
            font-weight: 600;
            height: -7px;
        }

        .btn-view {
            font-size: 0.5rem;
        }
}

</style>


<div class="container mt-5 mb-5 pt-3 pb-3">
    <div class="list-group list-group-flush">
        <div class="justify-content-center" style="color: #1434A4;">
            <h1 style=" font-size: calc(1.375rem + 1.5vw)!important;">
                Posts List
            </h1>
        </div>
        <p>Total posts count: {{ posts|length }}</p>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Post Title</th>
                    <th scope="col">Post Content</th>
                </tr>
            </thead>
            <tbody>

            {% for post in page_post %}
                <tr style="line-height: 56px;">
                    <form class="" action="{% url 'generate_article:article-detail' %}" method="post">
                        {% csrf_token %}

                        <input type="hidden" name="title" value="{{ post.title }}">
                        <input type="hidden" name="paragraph" value="{{ post.paragraph }}">
                        <input type="hidden" name="source" value="{{ post.source }}">
                    
                        <td scope="col"  >
                            <div style="height: 1px">
                                <p class="title-p"> {{ post.title }} </p>
                            </div>
                        </td>
                    
                        <th >
                            <button type="submit" class="btn btn-primary btn-view">View Post</button>
                        </th>
                    </form>
                </tr>

                <tr>
                    <td width="90%" scope="col">
                        <p style="font-size: 0.91rem; width: 85%;">
                            {{ post.paragraph|truncatewords:50 }}
                        </p>
                    </td>
                </tr>
                
            {% endfor %}
            </tbody>
        </table>
     <!--<a href="https://100007.pythonanywhere.com/article_detail/" class="btn btn-cancel">Go back</a>-->
        <center>

            <div class="pagination">
                {% if page_post.has_previous %}
                    <a href="?page={{ page_post.previous_page_number }}">Previous</a>
                {% endif %}
                {% if page_post.number|add:'-2' > 1 %}
                    <a href="?page={{ page_post.number|add:'-3' }}">&laquo;</a>
                {% endif %}
                {% for page_number in page_post.paginator.page_range %}
                    {% if page_post.number == page_number %}
                        <a href="#" class="active">{{ page_number }}</a>
                    {% elif page_number > page_post.number|add:'-3' and page_number < page_post.number|add:'6' %}
                        <a href="?page={{ page_number }}">{{ page_number }}</a>
                    {% endif %}
                {% endfor %}
                {% if page_post.number|add:'5' > 1 %}
                    <a href="?page={{ page_post.number|add:'6' }}">&raquo;</a>
                {% endif %}
                {% if page_post.has_next %}
                    <a href="?page={{ page_post.next_page_number }}">Next</a>
                {% endif %}
            </div>
        </center>
    </div>
</div>


{% endblock content %}
