{% extends "article/base_background.html" %}
{% load static %}
<link rel="stylesheet" href="../static/step2/css/reset_password.css">

{% block style %}
  {{ block.super }}

{% endblock %}

{% block stuff %}
	<h2 class="mb-5 text-center blue-text">Reset Password</h2>

	<form action="{% url 'generate_article:confirm-reset-password' %}">
	  <div class="mb-3">
		<label for="current">Current Password</label>
		<input type="password" id="current" name="current" class="form-control" placeholder="Enter your current password" required>
	  </div>
	  <div class="mb-3">
		<label for="new">New Password</label>
		<input type="password" id="new" name="new" class="form-control" placeholder="Enter a new password" required>
	  </div>
	  <div class="mb-3">
		<label for="confirm">Confirm Password</label>
		<input type="password" id="confirm" name="confirm" class="form-control" placeholder="Confirm your new password" required>
	  </div>
	  <div class="mt-5 text-center">
		<a href="javascript:history.back()" class="btn btn-secondary">Cancel</a>
		<button type="submit" class="btn btn-dark-blue">Done</button>
	  </div>
	</form>
{% endblock %}