{% extends "article/base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'step2/css/show_articles.css'%}">

{% block script %}
<script src="{% static 'main.js' %}"></script>
{% endblock script %}
{% block content %}
<script type="text/javascript" src="{% static 'step2/js/show_articles.js'%}"></script>
<div class="grid-container3">
		<div class="item item1" style="padding-top: 15px;">
			<ul class="mylist">
				<li>
					<a href="#" style="color:white;">
						<i class="fa-solid fa-arrow-left-long fa-2xl" style="padding-right: 10px;"></i>
						<label style="color:white; padding-right: 50px;"><b>SAMANTA</b></label>
					</a>
				</li>
				<li style="padding-left:25%;">
					<form>
						<select id="disabledSelect" style="width:200px; border-radius: 5px;">
				        	<option>Select Your Article</option>
				        	<option>1</option>
				        	<option>2</option>
				        </select>
						<i class="fa-solid fa-magnifying-glass fa-xl"></i>
					</form>
				</li>
				<li style="padding-left:40%;">
					<i class="fa-solid fa-circle-user fa-2xl"></i>
				</li>
			</ul>
		</div>
		<div class="item item2">
			<div style=	"margin-top:20%;">
				<a href="#">
				    <span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-user-check fa-2xl"></i></span>
				    <h6 style="padding-top:20px;">Topic</h6>
				</a>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-file-signature fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Article</h6>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-calendar-check fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Post</h6>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-calendar-days fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Schedule</h6>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-color:white; border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-comment fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Comment</h6>
			</div>
		</div>
		<!-- start of area to be modified when edit is selected -->
		<div id="overlay" hidden>
			<!-- this is the area to be overlayed -->
			<span onclick="overlay_off()"><i class="fa-solid fa-rectangle-xmark fa-xl" style="padding-left: 85%; padding-top: 15px;"></i></span>
			<br>
			<div class="container">
				<form>
					<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					  <ol class="carousel-indicators">
					    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					  </ol>
					  <div class="carousel-inner" style="padding-left:20%;">
					  	<!-- iteratively add these using for loop with django templating -->
					    <div class="carousel-item active">
					   		<div class="d-block">
					   			<img class="w-25" src="{% static "photos/Lady-Pixel.png"%}">
					     		<img class="w-25" src="{% static "photos/Lady-Pixel.png"%}">
					      		<img class="w-25" src="{% static "photos/Lady-Pixel.png"%}">
					   		</div>
					    </div>
					    <div class="carousel-item">
					      	<div class="d-block">
					   			<img class="w-25" src="{% static "photos/Lady-Pixel.png"%}">
					     		<img class="w-25" src="{% static "photos/Lady-Pixel.png"%}">
					      		<img class="w-25" src="{% static "photos/Lady-Pixel.png"%}">
					   		</div>
					    </div>
					    <div class="carousel-item">
					      	<div class="d-block">
					   			<img class="w-25" src="{% static "photos/Lady-Pixel.png"%}">
					     		<img class="w-25" src="{% static "photos/Lady-Pixel.png"%}">
					      		<img class="w-25" src="{% static "photos/Lady-Pixel.png"%}">
					   		</div>
					    </div>
					  </div>
					  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
					    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
					  </a>
					  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
					    <span class="carousel-control-next-icon" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					  </a>
					</div>
					<div style="text-align: center;">
						<span>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</span><br>
						<a href="#">somelink.com</a><br>
						<span>Give Credit</span> <span>Add Logo</span>

					</div>
					<div>
						<span>Similarity</span>
						<div class="progress">
						  <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
						  </div>
						</div>
						<br>
						<span>Relevance</span>
						<div class="progress">
						  <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
						  </div>
						</div>
					</div>
					<div class="my-btn-primary col">
						<br>
						<button type="submit" class="btn btn-primary btn-lg">Update to Article</button>
					</div>
				</form>
			</div>
		</div>
		<div class="item item3 container" id="underlay">

			<div class="item3-0" id="styling-companion-header" hidden>
				<ul class="mylist">
					<li class="nav-link active-link">
						<a href="#"><span><i class="fa-solid fa-bold fa-xl"></i></span></a>
						<div class="underline"></div>
					</li>
					<li class="nav-link">
						<a href="#"><span><i class="fa-solid fa-italic fa-xl"></i></span></a>
						<div class="underline"></div>
					</li>
					<li class="nav-link">
						<a href="#"><span><i class="fa-solid fa-underline fa-xl"></i></span></a>
						<div class="underline"></div>
					</li>
					<li class="nav-link">
						<a href="#"><span><i class="fa-solid fa-align-left fa-xl"></i></span></a>
						<div class="underline"></div>
					</li>
					<li class="nav-link">
						<a href="#"><span><i class="fa-solid fa-align-center fa-xl"></i></span></a>
						<div class="underline"></div>
					</li>
					<li class="nav-link">
						<a href="#"><span><i class="fa-solid fa-align-right fa-xl"></i></span></a>
						<div class="underline"></div>
					</li>
					<li class="nav-link">
						<a href="#"><span><i class="fa-solid fa-align-justify fa-xl"></i></span></a>
						<div class="underline"></div>
					</li>
					<li class="nav-link">
						<a href="#"><span><i class="fa-solid fa-fill-drip fa-xl"></i></span></a>
						<div class="underline"></div>
					</li>
					<li class="nav-link">
						<a href="#"><span><i class="fa-solid fa-link fa-xl"></i></span></a>
						<div class="underline"></div>
					</li>
					<li class="nav-link">
						<a href="#"><span><i class="fa-solid fa-face-smile fa-xl"></i></span></a>
						<div class="underline"></div>
					</li>
					<li class="nav-link">
						<a href="#"><span><i class="fa-solid fa-image-landscape fa-xl"></i></span></a>
						<div class="underline"></div>
					</li>
					<li class="nav-link">
						<a href="#" onclick="overlay_on();"><span><i class="fa-solid fa-image fa-xl"></i></span></a>
						<div class="underline"></div>
					</li>
				</ul>
			</div>
			<!-- end of styling menu bar -->
			<div class="item3-1" style="padding-top:5%;">
				<div class="item3-1 item3-1_left">
					<i class="fa-solid fa-circle-user fa-2xl"></i>
					<span>User Name</span>
				</div>
				<div class="item3-1_right icon-dropdown">
					<i class="fa-solid fa-ellipsis-vertical fa-2xl" style="float: right;"></i>
					<div class="icon-dropdown-content">
						<div class="icon-dropdown-element" onclick="alert('Want to Edit')">
							<i class="fa-solid fa-pencil" style="color:white;"></i><span style="padding-left:10px; font-weight:bold; color: #203474;">Edit</span>
						</div>
						<div class="icon-dropdown-element" onclick="alert('Want to Delete')">
							<i class="fa-solid fa-trash-can-arrow-up" style="color:white;"></i><span style="padding-left:10px; font-weight:bold; color: #203474;">Delete Post</span>
						</div>
						<div class="icon-dropdown-element" onclick="alert('Want to Save')">
							<i class="fa-solid fa-calendar-check" style="color:white;"></i></i><span style="padding-left:10px; font-weight:bold; color: #203474;">Save Post</span>
						</div>
						<div class="icon-dropdown-element" onclick="alert('Want to Copy Link')">
							<i class="fa-solid fa-link" style="color:white;"></i></i><span style="padding-left:10px; font-weight:bold; color: #203474;">Copy Link</span>
						</div>
					</div>
				</div>
			</div>

			<div class="item3-2">
				<div style="padding-top:50px;">
					<p>Post COVID #HR policy rolling is out!!</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						<br><a href="#">https://Instagram.com/blog.com</a>
					</p>
				</div>
			</div>
			<div class="item3-3"hidden>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p><hr>
			</div>

			<!-- end of new block/section with selectable gallery -->
			<div>235 words</div>
			<div>5342 characters</div>
			<div>6 Hashtags</div>
			<div class="item3-4">
				<!-- make the following row as a new grid with two rows -->
				<div class="item4" id="editAndNext">
					<div class="my-btn-primary">
					    <button type="button" class="btn btn-primary btn-lg" id="editTarget" onclick="toggleHeaderAndButtons();">Edit</button>
					</div>
					<div class="my-btn-primary">
					    <button type="button" class="btn btn-primary btn-lg">Next</button>
					</div>

				</div>
				<div id="styling-companion-btn" hidden>
					<div class="my-btn-primary col">
						<button type="button" class="btn btn-primary btn-lg">Save article</button>
					</div>
				</div>
			</div>
			<!-- end of array to be overlayed -->
		</div>
	</div>
{% endblock content %}