{% extends "article/base.html" %}
{% load static %}

{% block script %}
<script src="{% static 'main.js' %}"></script>
{% endblock script %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'step2/css/signup.css'%}">


<div class="background"></div>
<div class="overlay-container">
      <!-- sign up form -->
      <div class="#">
        <div class="#" style="background-color:#e8e4e4;">

          <form action="#">
            <h2 style="text-align: center;color:#203474; font-weight:bold;">Sign Up Here</h2>
            <div class="#">
              <label style="color:black;">Email</label>
              <input type="text" name="Email" class="form-control" placeholder="Enter your email address">
            </div>
            <div class="#">
              <label style="color:black;">Password</label>
              <input type="password" name="Email" class="form-control" placeholder="Enter your password">
            </div>
            <div style="padding-top: 4px; padding-bottom: 4px; text-align: center;">
              <span style="color:#203474;">Forgot Password? <a href="#" style="color:#203474; font-weight:bold;">Click Here</a></span>
            </div>
            <div>
              <button type="submit" class="btn btn-primary form-control" style="background-color:#203474;">Sign Up</button>
            </div>
            <div style="padding-top: 4px; padding-bottom: 4px; text-align: center;">
              <span style="color:#203474;">Already have an account? <a href="https://www.socialmediaautomation.uxlivinglab.online/login/" style="color:#203474;font-weight:bold;">Log In</a></span>
            </div>
            <div style="padding-top: 4px; padding-bottom: 8px; text-align: center; color:#203474;">
              <span>Continue with ...</span>
            </div>
            <div class="flex-container">
              <span><a href="#" style="background-color:red;"><i class="fa-brands fa-google fa-2xl"></i></a></span>
              <span><a href="#"><i class="fa-brands fa-facebook fa-2xl"></i></a></span>
              <span><a href="#"><i class="fa-brands fa-twitter-square fa-2xl"></i></a></span>
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock content %}