{% extends "article/base_background.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'step2/css/social_media_channels.css'%}">

{% block style %}
{{ block.super }}
{% endblock %}

{% block stuff %}
    <h2 class="mb-5 blue-text">My Channels</h2>
    {% comment %} <p>User has social profile {{ user_has_social_media_profile }}</p> {% endcomment %}

    <div class="d-flex flex-wrap justify-content-center">
        <a>
            <i class="fa-brands fa-facebook fa-4x m-2"></i>
        </a>

        <a>
            <i class="fa-brands fa-twitter fa-4x m-2"></i>
        </a>

        <a>
    <i class="fa-brands fa-instagram-square fa-4x m-2"></i>
  </a>

  <a>
    <i class="fa-brands fa-linkedin fa-4x m-2"></i>
  </a>

  <a>
    <i class="fa-brands fa-youtube fa-4x m-2"></i>
  </a>
</div>

<a class="mt-5 px-5 btn btn-dark-blue connect-button" onclick="newUserStatus ? showPopup.showLinkAcc() : showPopup.showActivate()">Connect</a>

<script type="text/javascript" src="{% static 'step2/js/social_media_channels.js'%}"></script>


{% endblock %}