{% extends "article/base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'step2/css/social_media.css'%}">

{% block script %}
<script src="{% static 'main.js' %}"></script>
{% endblock script %}
{% block content%}
	<script type="text/javascript">
		window.$("#btn").click(function () {
			"use strict";
			window.$("#ovrly").fadeIn();
			window.$("#login").show();
			window.$("#login").animate({top: "100"});
		});
		window.$("#ovrly").click(function () {
			"use strict";
			window.$("#ovrly").hide();
			window.$("#login").hide();
			window.$("#login").css("top", "-310px");
		});
		window.$("#cross").click(function () {
			"use strict";
			window.$("#ovrly").hide();
			window.$("#login").hide();
			window.$("#login").css("top", "-310px");
		});
</script>
</head>
<body>
	<div class="grid-container3">
		<div class="item item1">
			<ul class="mylist">
				<li>
					<a href="#" style="color:white;">
						<i class="fa-solid fa-arrow-left-long fa-2xl" style="padding-right: 10px;"></i>
						<label style="color:white; padding-right: 50px;"><b>SAMANTA</b></label>
					</a>
				</li>
				<li style="padding-left:80%;">
					<i class="fa-solid fa-circle-user fa-2xl"></i>
				</li>
			</ul>
		</div>
		<div class="item item2">
			<div style=	"margin-top:20%;">
				<a href="#">
				    <span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-user-check fa-2xl"></i></span>
				    <h6 style="padding-top:20px;">Topic</h6>
				</a>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-file-signature fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Article</h6>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-calendar-check fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Post</h6>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-calendar-days fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Schedule</h6>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-color:white; border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-comment fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Comment</h6>
			</div>
		</div>
		<!-- start of area to be overlayed -->
		<div class="item item3">
			<div id="overlay1" hidden>
				<span onclick="off()"><i class="fa-solid fa-rectangle-xmark fa-xl" style="padding-left: 85%; padding-top: 15px;"></i></span>
				<form>
					<span><i class="fa-brands fa-facebook fa-2xl"></i></span>
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-8">

						    <input type="text" class="form-control" id="specificSizeInputName" placeholder="Enter Page ID">
						    <hr>
						    <input type="text" class="form-control" id="specificSizeInputName" placeholder="Enter Page Link">
						    <hr>
						    <input type="text" class="form-control" id="specificSizeInputName" placeholder="Enter No. Post Per Day">
						    <hr>
						    <button type="button" class="btn btn-primary btn-md" style="width:30%;margin-left: 35%;">Done</button>
						    <hr>
					  	</div>
					  	<div class="col-md-2"></div>
					</div>
				</form>
			</div>
			<!-- targetted cities -->
			<div id="overlay2" hidden>
				<span onclick="off()"><i class="fa-solid fa-rectangle-xmark fa-xl" style="padding-left: 85%;"></i></span>
				<form>
					<div style="background-color: dodgerblue; margin-left:15%;margin-right: 25%;">
						<select id="disabledSelect" style="width:90%; background-color:Dodgerblue;">
				        	<option style="background-color:white;">List of all cities</option>
				        	<option style="background-color:white;">New York</option>
				        	<option style="background-color:white;">Las Vegas</option>
				        </select>
						<i class="fa-solid fa-magnifying-glass fa-xl"></i>
					</div>
					<button type="button" class="form-control">See More</button>
				</form>
			</div>
			<!-- approvals -->
			<div id="overlay3" class="container" hidden>
				<span onclick="off()"><i class="fa-solid fa-rectangle-xmark fa-xl" style="padding-left: 85%;"></i></span>
				<form>
					<div class="row">
						<div class="col-md-10">
							<span>Do you want to approve Topic?</span>
						</div>
						<div class="col-md-1">
							<i class="fa-solid fa-square-check"></i>
						</div>
						<div class="col-md-1">
							<i class="fa-solid fa-square-xmark"></i>
						</div>
					</div>
					<div class="row">
						<div class="col-md-10">
							<span>Do you want to approve Article?</span>
						</div>
						<div class="col-md-1">
							<i class="fa-solid fa-square-check"></i>
						</div>
						<div class="col-md-1">
							<i class="fa-solid fa-square-xmark"></i>
						</div>
					</div>
					<div class="row">
						<div class="col-md-10">
							<span>Do you want to approve Post?</span>
						</div>
						<div class="col-md-1">
							<i class="fa-solid fa-square-check"></i>
						</div>
						<div class="col-md-1">
							<i class="fa-solid fa-square-xmark"></i>
						</div>
					</div>
					<div class="row">
						<div class="col-md-10">
							<span>Do you want to approve Schedule?</span>
						</div>
						<div class="col-md-1">
							<i class="fa-solid fa-square-check"></i>
						</div>
						<div class="col-md-1">
							<i class="fa-solid fa-square-xmark"></i>
						</div>
					</div>
					<button type="button" class="btn btn-primary">Done</button>
				</form>
			</div>
			<!-- my channels -->
			<div class="container" id="overlay" >
				<span onclick="off()"><i class="fa-solid fa-rectangle-xmark fa-xl" style="padding-left: 85%;"></i></span>
				<h3 style="text-align: center;margin-top:7.5%;">My channels</h3>
				<div style="margin-top:15%;">
					<form>
						<div class="channel_item my_channels container">
							<div style="text-align: center; border-radius: 5px; margin: 20%;"><i class="fa-brands fa-facebook fa-4x"></i></div>
							<div style="text-align: center; border-radius: 5px; margin: 20%;"><i class="fa-brands fa-twitter-square fa-4x"></i></div>
							<div style="text-align: center; border-radius: 5px; margin: 20%;"><i class="fa-brands fa-instagram-square fa-4x"></i></div>
							<div style="text-align: center; border-radius: 5px; margin: 20%;"><i class="fa-brands fa-linkedin fa-4x"></i></div>
							<div style="text-align: center; border-radius: 5px; margin: 20%;"><i class="fa-brands fa-youtube fa-4x"></i></div>

						</div>
						<div style="margin-top:15%;">
								<div class="my_channels_btn_row">
									<div></div>
									<div>
										<button type="submit" class="btn btn-primary" style="width:25%;">Done</button>
									</div>
									<div></div>
								</div>
							</div>
					</form>
				</div>
			</div>
			<div id="underlay" style="padding:20px">
			  <h2>Overlay</h2>
			  <p>Click the following button to turn on My Channels overlay</p>
			  <button onclick="on()">Turn on Social Media</button>
			</div>
		</div>
		<!-- end of array to be overlayed -->
		</div>
	</div>
	<script>
	function on() {
	  document.getElementById("overlay").style.display = "block";
	  document.getElementById("underlay").style.display = "none";
	}

	function off() {
	  document.getElementById("overlay").style.display = "none";
	   document.getElementById("underlay").style.display = "block";
	}
	</script>
{% endblock content %}