{% extends "article/base.html" %}
{% load static %}

{% block script %}
<script src="{% static 'main.js' %}"></script>
{% endblock script %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'step2/css/topics.css' %}">

</head>
<body>
	<div class="grid-container3">
		<div class="item item1">
				<ul class="mylist">
    				<li>
    				    <a href="#" style="color:white;">
    						<i class="fa-solid fa-arrow-left-long fa-xl"></i>
    						SAMANTA
    					</a>
    				</li>
    				<li>User Name <i class="fa-solid fa-circle-user fa-xl"></i></li>
    			</ul>
		</div>
		<div class="item item2">
		    <div style=	"margin-top:20%;">
				<a href="#">
				    <span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-user-check fa-2xl"></i></span>
				    <h6 style="padding-top:20px;">Topic</h6>
				</a>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-file-signature fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Article</h6>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-calendar-check fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Post</h6>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-calendar-days fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Schedule</h6>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-color:white; border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-comment fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Comment</h6>
			</div>
		</div>
		<div class="item item3">
			<form class="container">
			    <!--loop through fill and repeat-->
				<div class="form-group">
					<div class="row">
						<div class="col-md-8">
						    <!--replace this dummy text with text from database-->
							<label class="form-elt-label" style="padding-top: 20px;">Past Passive Sentence</label>
						</div>
						<div class="col-md-4"></div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<input type="text" class="form-control form-elt-bgcolor" name="" placeholder="Lorem ipsum">
						</div>
						<div class="col-md-2">
							<select id="disabledSelect" class="form-control form-elt-bgcolor">
							<option>Rank</option>
								<option>1</option>
								<option>2</option>
							</select>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	{% endblock content %}