{% extends "article/base.html" %}
{% load static %}
<link rel="stylesheet" href="../static/step2/css/topics.css">

{% block script %}
<script src="{% static 'main.js' %}"></script>
{% endblock script %}
{% block content %}
<style type="text/css">
		.grid-container3
		{
			display: grid;
			grid-template-columns: 10% 90%;
			grid-template-rows: 5fr 95fr;
		}
		.item1
		{
			background-color: #203474;
			grid-column-start: 1;
			grid-column-end: 3;
		}
		.item2
		{
			background-color: #e8e4e4;
			text-align: center;
			grid-column-start: 1;
			grid-column-end: 2;
		}
		.mylist
		{
			display: flex;
			list-style: none;
			padding: 5px;
			color: white;
		}
		.form-elt-bgcolor
		{
			background-color: #e0e4fc;
		}
		.form-elt-label
		{
			color: #203474;
			font-weight: bold;
		}
		span.content {
            width: 100px;
            height: 100px;
            position:relative;
            padding:15px;
            box-sizing:border-box;
            border-color:purple;
        }
	</style>
</head>
<body>
	<div class="grid-container3">
		<div class="item item1">
				<ul class="mylist">
    				<li>
    				    <a href="#" style="color:white;">
    						<i class="fa-solid fa-arrow-left-long fa-xl"></i>
    						SAMANTA
    					</a>
    				</li>
    				<li>User Name <i class="fa-solid fa-circle-user fa-xl"></i></li>
    			</ul>
		</div>
		<div class="item item2">
		    <div style=	"margin-top:20%;">
				<a href="#">
				    <span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-user-check fa-2xl"></i></span>
				    <h6 style="padding-top:20px;">Topic</h6>
				</a>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-file-signature fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Article</h6>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-calendar-check fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Post</h6>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-calendar-days fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Schedule</h6>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-color:white; border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-comment fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Comment</h6>
			</div>
		</div>
		<div class="item item3">
			<form class="container">
			    <!--loop through fill and repeat-->
				<div class="form-group">
					<div class="row">
						<div class="col-md-8">
						    <!--replace this dummy text with text from database-->
							<label class="form-elt-label" style="padding-top: 20px;">Past Passive Sentence</label>
						</div>
						<div class="col-md-4"></div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<input type="text" class="form-control form-elt-bgcolor" name="" placeholder="Lorem ipsum">
						</div>
						<div class="col-md-2">
							<select id="disabledSelect" class="form-control form-elt-bgcolor">
							<option>Rank</option>
								<option>1</option>
								<option>2</option>
							</select>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	{% endblock content %}