{% extends "article/base.html" %}
{% load static %}
<link rel="stylesheet" href="../static/step2/css/topic.css">

{% block script %}
<script src="{% static 'main.js' %}"></script>

{% endblock script %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</body>
	<div class="grid-container2">
		<div class="item item1">
			<ul class="mylist">
				<li><i class="fa-regular fa-pen"></i>Ai Writer</li>
				<li>User Name</li><i class="fa-regular fa-pen"></i>
			</ul>
		</div>
		<div class="item item2">
			<div style=	"margin-top:20%;">
				<a href="#">
				    <span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-user-check fa-2xl"></i></span>
				    <h6 style="padding-top:20px;">Topic</h6>
				</a>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-file-signature fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Article</h6>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-calendar-check fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Post</h6>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-calendar-days fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Schedule</h6>
			</div>
			<div style=	"margin-top:20%;">
				<span class="content" style="border-style: solid;border-color:white; border-radius:5px; background-color:purple; color:white;padding-top:20px;"><i class="fa-solid fa-comment fa-2xl"></i></span>

				<h6 style="padding-top:20px;">Comment</h6>
			</div>
		</div>
		<div class="item item3">

			<form class="container"  method='POST' action='{% url 'topics' %}' onsubmit="validateForm(event)">
			     {% csrf_token %}
				    <div class="form-group">
				      <label for="disabledSelect" style="padding-top: 15px;">Category</label>
				      <select id="disabledSelect" class="form-control form-elt-bgcolor">
				        <option>Select Category</option>
				        <option>1</option>
				        <option>2</option>
				      </select>
				    </div>
				    <div class="form-group">
				    	<label for="keyWordSearch">Products/Services</label>
				    	<input type="text" class="form-control form-elt-bgcolor" name="" placeholder="Enter Your Key Words">
				    </div>
				    <div class="form-group">
				    	<div class="row">
					    	<div class="col">
					    		<label for="disabledSelect">Your Topic</label>
						      	<select id="disabledSelect" class="form-control form-elt-bgcolor">
						        	<option>Select Topic</option>
						        	<option>1</option>
						        	<option>2</option>
						        </select>
					    	</div>
					    	<div class="col">
				    			<div class="apple-switch">
								   <input id="notify" name="notify" type="checkbox" class="myinput">
								   <label for="notify" class="mylabel"> Singular/Plural</label>
								</div>
				    		</div>
				        </div>
					</div>
					<div class="form-group">
				    	<div class="row">
					    	<div class="col">
					    		<label for="disabledSelect">Purpose of Article</label>
						      	<select id="disabledSelect" class="form-control form-elt-bgcolor">
						        	<option>Enter your purpose</option>
						        	<option>1</option>
						        	<option>2</option>
						        </select>
					    	</div>
					    	<div class="col">
				    			<div class="apple-switch">
								   <input id="notify2" name="notify2" type="checkbox" class="myinput">
								   <label for="notify2" class="mylabel"> Singular/Plural</label>
								</div>
				    		</div>
				        </div>
					</div>
					 <div class="form-group">
				    	<label for="keyWordSearch">Activities</label>
				    	<input type="text" class="form-control form-elt-bgcolor" name="" placeholder="Enter Your activity">
				    </div>
				    <div class="form-group">
				    	<label for="keyWordSearch">Can you specify your activity?</label>
				    	<input type="text" class="form-control form-elt-bgcolor" name="" placeholder="Enter">
				    </div>
				    <div class="my-btn-primary">
				    	<button type="submit" class="btn btn-primary btn-lg"  >Create Topic</button>
				    </div>
			</form>
		</div>
		<div class="item item4">
		    {% load static %}<img src="{% static "photos/Lady-Pixel.png"%}" style="padding-top:30%;">
		</div>
	</div>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	{% endblock content %}