{% extends "article/base_background.html" %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'step2/css/user_appproval.css' %}">
{% endblock %}

{% block navbar_heading %}
{% endblock %}

{% block stuff %}

    <h2 class="mb-5 blue-text"> Approvals</h2>
    {% if status == 'insert' %}
  <form class="fw-bold fs-5 blue-text" id="titleForm" action="{% url 'generate_article:user-approval-form' %}" method="post" onsubmit='showLoading();'>
  	{% csrf_token %}

<div class="row mb-5">
  <div class="col">
    <label for="topic">Do you want to approve Topic?</label>
  </div>
  <div class="col-3 d-flex">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" name="topic" id="topic_toggle" value="True">
    </div>
  </div>
</div>


    <div class="row mb-5">
      <div class="col">
        <label for="topic">Do you want to approve Article?</label>
      </div>
        <div class="col-3 d-flex">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" name="article" id="topic_toggle" value="True">
    </div>
  </div>
    </div>

    <div class="row mb-5">
      <div class="col">
        <label for="topic">Do you want to approve Post?</label>
      </div>
        <div class="col-3 d-flex">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" name="post" id="topic_toggle" value="True">
    </div>
  </div>
    </div>

    <div class="row mb-5">
      <div class="col">
        <label for="topic">Do you want to approve Schedule?</label>
      </div>
      <div class="col-3 d-flex">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" name="schedule" id="topic_toggle" value="True">
    </div>
  </div>
    </div>

    <div class="text-center">
      <button type='submit' class="btn btn-dark-blue px-5 fw-bold">Done</button>
    </div>

  </form>
    {% else %}

    <form class="fw-bold fs-5 blue-text" id="titleForm" action="{% url 'generate_article:user-approval-update' %}" method="post" onsubmit='showLoading();'>
  	{% csrf_token %}

    <div class="row mb-5">
      <div class="col">
        <label for="topic">Do you want to approve Topic?</label>
      </div>
      <div class="col-3 d-flex">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" name="topic" id="topic_toggle" value="True">
        </div>
      </div>
    </div>


        <div class="row mb-5">
          <div class="col">
            <label for="topic">Do you want to approve Article?</label>
          </div>
            <div class="col-3 d-flex">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" name="article" id="topic_toggle" value="True">
        </div>
      </div>
        </div>

        <div class="row mb-5">
          <div class="col">
            <label for="topic">Do you want to approve Post?</label>
          </div>
            <div class="col-3 d-flex">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" name="post" id="topic_toggle" value="True">
        </div>
      </div>
        </div>

        <div class="row mb-5">
          <div class="col">
            <label for="topic">Do you want to update Schedule?</label>
          </div>
          <div class="col-3 d-flex">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" name="schedule" id="topic_toggle" value="True">
        </div>
      </div>
        </div>

        <div class="text-center">
          <button type='submit' class="btn btn-dark-blue px-5 fw-bold">Done</button>
        </div>

      </form>


      {%endif%}

{% endblock %}