{% extends "article/base_background.html" %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'step2/css/user_usage.css' %}">
{% endblock %}

{% block stuff %}

    <h1 class="mb-1">
    <span class="blue-text">Current Plan: </span><span>Startup</span>
  </h1>
  <button class="btn btn-dark-blue fw-bold">Upgrade</button>

  <hr>

  <div class="d-flex flex-wrap justify-content-center">

    <div class="blue-rounded-container">
      <i class="fa-solid fa-coins fa-6x m-3"></i>
      <div class="text-center fw-bold">Current Balance</div>
      <hr>
      <div class="text-center fw-bold">$2000.00</div>
    </div>

    <div class="blue-rounded-container">
      <i class="fa-solid fa-file fa-6x m-3"></i>
      <div class="text-center fw-bold">Generated Content</div>
      <hr>
      <div class="text-center fw-bold">2343625</div>
    </div>

  </div>

{% endblock %}