{% extends "article/base_background.html" %}
{% load static %}

{% block style %}
{{ block.super }}
<style type="text/css">
.pricing-container {
  margin-bottom: 70px;
}

.pricing-btn {
  background-color: var(--dark-blue);
  border-radius: 10px;
  border-style: none;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-size: 1rem;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
}

.pricing-btn > a {
  color: white;
}

.pricing-btn:hover {
  background-color: rgb(20, 38, 85);
}

@media (min-width: 768px) {
  .pricing-btn {
    padding: 14px 22px;
    width: 238px;
  }
}

</style>
{% endblock %}

{% block stuff %}

  <div class="pricing-container">
    <h1 class="blue-text mb-5">Choose Your Plan</h1>

    <div class="d-flex flex-wrap justify-content-center"> 

      {% comment %} <a href="#" class="mx-3">
        <div>
          <i class="fa-solid fa-cart-shopping fa-6x"></i>
          <div class="text-center fw-bold">Startup</div>
        </div>
      </a>

      <a href="#" class="mx-3">
        <div>
          <i class="fa-solid fa-cart-shopping fa-6x"></i>
          <div class="text-center fw-bold">Basic</div>
        </div>
      </a>

      <a href="#" class="mx-3">
        <div>
          <i class="fa-solid fa-cart-shopping fa-6x"></i>
          <div class="text-center fw-bold">Premium</div>
        </div>
      </a>

      <a href="#" class="mx-3">
        <div>
          <i class="fa-solid fa-cart-shopping fa-6x"></i>
          <div class="text-center fw-bold">Custom</div>
        </div>
      </a> {% endcomment %}

      <button class="pricing-btn" role="button">
        <a href="https://ll05-ai-dowell.github.io/100105-DowellApiKeySystem/#" style="text-decoration:none">
        See Pricing
        </a>
      </button>
    
    </div>  
  </div>
{% endblock %} 
