{% extends "article/base_steps.html" %} 
{% load static %} 
{% load is_string_tags%}
{% block style %} 
{{ block.super }}
<style>
  .cover {
    padding: 0 60px 0 0;
  }

  .post-source {
    display: block;
  }

  #edit-button {
    background: #6c757d;
  }

  #post-post {
    background: #1b3474;
  }

  .btn-dark-blue {
    color: white;
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
  }

  .btn-dark-blue {
    color: white;
    background-color: rgb(20, 38, 85);
  }

  .words_wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    border-top: 1px solid var(--dark-blue);
    padding: 10px 0;
    font-weight: bold;
    color: var(--dark-blue);
    text-transform: capitalize;
    font-size: 22px;
  }
</style>
{% endblock %} {% block script %} {{ block.super }}
<script>
  function showAdminMessage() {
    alert("You are not an admin!");
  }

  window.onload = function downdis() {
    console.log("Hellow On Load");
  };

  document.querySelector("#edit-post").onclick = editPost;
  document.querySelector("#save-post").onclick = savePost;
  document.querySelector("#delete-post").onclick = deletePost;
  document.getElementById("edit-button").addEventListener("click", function () {
    alert("Page is under construction");
  });
  var postti = document.getElementById("post-title");
  var postpar = document.getElementById("post-paragraph");
  var postsor = document.getElementById("post-sources");

  function deletePost() {
    var fields = document.getElementsByTagName("input"),
      length = fields.length;
    while (length--) {
      if (fields[length].type === "text") {
        fields[length].value = "";
      }
    }

    $("input[type=text]").val("");

    console.log("lets Delete");
  }

  function editPost() {
    // Add an input element to edit the title
    let titleInput = document.createElement("input");
    titleInput.setAttribute("class", "form-control");
    titleInput.setAttribute("id", "title-input");
    titleInput.value = document.querySelector("#post-title").innerHTML;
    document.querySelector("#post-title").replaceWith(titleInput);

    // Add a textarea element to edit post content
    let postText = Array(...document.querySelectorAll(".post-paragraph"))
      .map((element) => element.innerHTML)
      .join("\n\n");
    let paragraphsInput = document.createElement("textarea");
    paragraphsInput.setAttribute("class", "form-control");
    paragraphsInput.setAttribute("id", "paragraphs-input");
    paragraphsInput.setAttribute("rows", "7");
    paragraphsInput.value = postText;
    document.querySelector("#post-paragraphs").replaceWith(paragraphsInput);

    // Add a textarea element to edit post sources
    let postSources = Array(...document.querySelectorAll(".post-source"))
      .map((element) => element.innerHTML)
      .join("\n\n");
    let sourcesInput = document.createElement("textarea");
    sourcesInput.setAttribute("class", "form-control");
    sourcesInput.setAttribute("id", "sources-input");
    sourcesInput.setAttribute("rows", "4");
    sourcesInput.value = postSources;
    document.querySelector("#post-sources").replaceWith(sourcesInput);
  }

  function savePost() {
    console.log("Remember to save to database...");

    // Save the new title to the DOM
    let postTitle = document.createElement("div");
    postTitle.setAttribute("id", "post-title");
    postTitle.innerHTML = document.querySelector("#title-input").value;
    document.querySelector("#title-input").replaceWith(postTitle);

    // Save each new paragraph to the DOM
    let postParagraphs = document
      .querySelector("#paragraphs-input")
      .value.split("\n\n");
    postParagraphs = postParagraphs.map((paragraph) => {
      let p = document.createElement("p");
      p.innerHTML = paragraph;
      p.setAttribute("class", "post-paragraph");
      return p;
    });
    var div = document.createElement("div");
    div.setAttribute("id", "post-paragraphs");
    div.append(...postParagraphs);
    document.querySelector("#paragraphs-input").replaceWith(div);

    // Save each new source to the DOM
    let postSources = document
      .querySelector("#sources-input")
      .value.split("\n");
    postSources = postSources.filter((source) => source.length);
    postSources = postSources.map((source) => {
      let a = document.createElement("a");
      a.href = source;
      a.innerHTML = source;
      a.setAttribute("class", "post-source");
      return a;
    });
    if (!postSources.length) {
      let p = document.createElement("p");
      p.innerHTML = "No sources.";
      postSources.push(p);
    }
    var div = document.createElement("div");
    div.setAttribute("id", "post-sources");
    div.append(...postSources);
    document.querySelector("#sources-input").replaceWith(div);
  }

  var postParagraphs = document.querySelectorAll(".post-paragraph");

  postParagraphs.forEach(function (paragraph) {

    var textContent = paragraph.textContent;
    var wordCount = textContent.split(/\s+/).filter(function (word) {
      return word.length > 0;
    }).length;

    var characterCount = textContent.length;
    var hashtags = textContent.match(/#\w+/g);
    var hashtagCount = hashtags ? hashtags.length : 0;

    var wordCountElement = document.querySelector(".paragraph-count1");
    var characterCountElement = document.querySelector(".paragraph-count2");
    var hashtageCountElement = document.querySelector(".paragraph-count");

    wordCountElement.textContent = wordCount + " words";
    characterCountElement.textContent = characterCount + " characters";
    hashtageCountElement.textContent = hashtagCount + " hashtag";

  });

  var postParagraphsDiv = document.getElementById("post-paragraphs");
  var htmlContent = postParagraphsDiv.innerHTML;

  // Remove HTML tags to get plain text
  var plainText = htmlContent.replace(/<[^>]*>/g, "");

  // Split the plain text into words and count them
  var words = plainText.split(/\s+/);
  var wordCount = words.length;

  // Count the total number of characters (including spaces)
  var charCount = plainText.length;

  // Count the number of hashtags (assuming hashtags start with '#')
  var hashtagCount = (plainText.match(/#/g) || []).length;

  // Display the counts in the desired elements
  var wordCountElement = document.querySelector(".paragraph-count1");
  var charCountElement = document.querySelector(".paragraph-count2");
  var hashtagCountElement = document.querySelector(".paragraph-count");

  wordCountElement.textContent = wordCount + " " + "Words";
  charCountElement.textContent = charCount + " " + "Characters";
  hashtagCountElement.textContent = hashtagCount + " " + "Hashtags";
  
</script>

{% endblock %} 

{% block content %}

<div class="m-4 cover">
  <a
    href="javascript:history.back()"
    class="back-button"
    style="
      background-color: #1434a4;
      color: white;
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      text-decoration: none;
    "
  >
    <i class="fa fa-arrow-left"></i>
  </a>
  <!--    <div class="dropdown-right text-end">
            <button class="btn rounded-circle p-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                     class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                </svg>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <button class="dropdown-item" id="edit-post">Edit Post</button>
                </li>
                <li>
                    <button class="dropdown-item" id="save-post">Save Post</button>
                </li>
                <li>
                    <button class="dropdown-item" id="delete-post">Delete Post</button>
                </li>
                <li>
                    <button class="dropdown-item" id="copy-post">Copy Post</button>
                </li>
            </ul>
        </div> -->
  <form action="{% url 'generate_article:save-post' %}" method="post">
    {% csrf_token %}

    <div
      id="post-title"
      style="
        margin-top: 30px;
        color: #1434a4;
        font-size: 20px;
        font-weight: 600;
      "
    >
      {{ post.title }}
    </div>
    <input id="title" type="hidden" name="title" value="{{ post.title }}" />
    <hr />

    <div id="post-paragraphs">
      {% for p in post.paragraph %}
      <div class="post-paragraph" id="postPara">{{ p }}</div>
      <input type="hidden" name="text" value="{{ p }}" id="para" />
      {% endfor %}
      <div class="words_wrapper">
        <div><span class="paragraph-count1"></span></div>
        <div><span class="paragraph-count2"></span></div>
        <div><span class="paragraph-count"></span></div>
      </div>
    </div>
    <hr />
    <hr />
  </form>
</div>
{% endblock %}
