{% extends "article/base.html" %}
{% load static %}

{% block style %}
{{ block.super }}
<style>

  main {
  /* Set background image. */
  background-image: url("{% static 'photos/pens.jpg' %}");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* Align items */
  align-items: center;
}

</style>
{% endblock style%}

{% block script %}
  {{ block.super }}
  <script src="{% static 'main.js' %}"></script>
{% endblock script %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'step1/css/base_background.css' %}">

  <div class="content-container d-flex flex-column justify-content-center align-items-center flex-grow-1">
    {% block stuff %}{% endblock %}
  </div>
  <script src="{% static 'step1/js/base_background.js' %}"></script>
{% endblock %}