{% extends "article/base.html" %}
{% load static %}

{% block script %}
  {{ block.super }}
  <script src="{% static 'main.js' %}"></script>
{% endblock script %}

{% block style %}
  {{ block.super }}
  <style>

    * {
      box-sizing: border-box;
    }

    html,
    body,
    main {
      /* Fill the screen. */
      width: 100%;
      height: 100%;
      /* Remove all margins and paddings. */
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }

    .body-container>* {
      padding-right: 0;
    }


    {% comment %} .nav {
      display: flex;
      position: relative;

    } {% endcomment %}

    #sidebar {
      background-color: lightgray; 
      width: 6.5%;
      min-width: 50px;
    }



    @media only screen and (max-width: 575px) {
      #sidebar {
        background-color: lightgray;
        width: 32%;
        min-width: 50px;


      }
    }



    #sidepadding {
      position: fixed;


    }


    #sidetopcs {
      position: relative;
      padding: 10px;
      margin-left: 10px;
    }

    #sidebar span {
      color: black;
      font-size: 15px;
    }

    #sidebar i {
      font-size: 150%;
    }

    #sidebar a {
      text-align: center;
    }

    .nav-link>div {
      aspect-ratio: 1;
      width: 7vh;
      border-radius: 5px;
      text-align: center;
      background-color: purple;
      color: white;
    }
  </style>
{% endblock %}

{% block sidebar %}

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Schedule Posts</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <p>Please select one.</p>
      </div>

      <div class="modal-footer">
        <a href="{% url 'generate_article:scheduled-posts' %}" class="btn btn-primary">Scheduled Posts</a>
        <a href="{% url 'generate_article:unscheduled-posts' %}" class="btn btn-dark">Unscheduled Posts</a>
      </div>
    </div>
  </div>
</div>



<nav id="sidebar" class="d-flex flex-column justify-flex-center" style="padding-right:140px">

  <div id="sidepadding">

    <div id="sidetopcs">
      <a class="nav-link" href="{% url 'index' %}">
        <div class="d-flex flex-column justify-content-center mx-auto">
          <i class="fa-solid fa-user-check fa-2xl"></i>
        </div>
        <span class="fw-bold">Topic</span>
      </a>
    </div>



    <div id="sidetopcs">
      <a class="nav-link" href="{% url 'generate_article:index-view' %}">
        <div class="d-flex flex-column justify-content-center mx-auto">
          <i class="fa-solid fa-file-signature fa-2xl"></i>
        </div>
        <span class="fw-bold">Article</span>
      </a>
    </div>

    <div id="sidetopcs">
      <a class="nav-link" href="{% url 'generate_article:article-list' %}">
        <div class="d-flex flex-column justify-content-center mx-auto">
          <i class="fa-solid fa-calendar-check fa-2xl"></i>
        </div>
        <span class="fw-bold">Post</span>
      </a>
    </div>



    <div id="sidetopcs">
      <a class="nav-link" href="{% url 'generate_article:unscheduled-posts' %}">
        <div class="d-flex flex-column justify-content-center mx-auto">
          <i class="fa-solid fa-calendar-days fa-2xl"></i>
        </div>
        <span class="fw-bold">Schedule</span>
      </a>
    </div>

    <div id="sidetopcs">
      <a class="nav-link" href="{% url 'generate_article:comments' %}">
        <div class="d-flex flex-column justify-content-center mx-auto">
          <i class="fa-solid fa-comment fa-2xl"></i>
        </div>
        <span class="fw-bold">Comment</span>
      </a>
    </div>
  </div>



</nav>
{% endblock %}