{% extends "article/base.html" %}
{% load static %}

{% block script %}
  {{ block.super }}
  <script src="{% static 'main.js' %}"></script>
{% endblock script %}

{% block style %} 
  {{ block.super }}
    <link rel="stylesheet" href="{% static 'step1/css/base_steps.css' %}">
{% endblock %} 

{% block sidebar %}

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Schedule Posts</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <p>Please select one.</p>
                </div>

                <div class="modal-footer">
                    <a href="{% url 'generate_article:scheduled-posts' %}" class="btn btn-primary">Scheduled Posts</a>
                    <a href="{% url 'generate_article:unscheduled-posts' %}" class="btn btn-dark">Unscheduled Posts</a>
                </div>
            </div>
        </div>
    </div>



    <nav id="sidebar" class="d-flex flex-column justify-flex-center" style="padding-right:140px">

        <div id="sidepadding">

            <div id="sidetopcs">
                <a class="nav-link" href="{% url 'index' %}">
                    <div class="d-flex flex-column justify-content-center mx-auto">
                        <i class="fa-solid fa-user-check fa-2xl"></i>
                    </div>
                    <span class="fw-bold">Topic</span>
                </a>
    </div>



    <div id="sidetopcs">
        <a class="nav-link" href="{% url 'generate_article:article-list-articles' %}">
            <div class="d-flex flex-column justify-content-center mx-auto">
                <i class="fa-solid fa-file-signature fa-2xl"></i>
            </div>
            <span class="fw-bold">Article</span>
        </a>
    </div>

    <div id="sidetopcs">
        <a class="nav-link" href="{% url 'generate_article:article-list' %}">
            <div class="d-flex flex-column justify-content-center mx-auto">
                <i class="fa-solid fa-calendar-check fa-2xl"></i>
            </div>
            <span class="fw-bold">Post</span>
        </a>
    </div>



    <div id="sidetopcs">
        <a class="nav-link" href="{% url 'generate_article:unscheduled-posts' %}">
            <div class="d-flex flex-column justify-content-center mx-auto">
                <i class="fa-solid fa-calendar-days fa-2xl"></i>
            </div>
            <span class="fw-bold">Schedule</span>
        </a>
    </div>

    <div id="sidetopcs">
        <a class="nav-link" href="{% url 'generate_article:comments' %}">
            <div class="d-flex flex-column justify-content-center mx-auto">
                <i class="fa-solid fa-comment fa-2xl"></i>
            </div>
            <span class="fw-bold">Comment</span>
        </a>
    </div>
        </div>


    </nav>
{% endblock %}