{% extends "article/base.html" %}
{% load static %}
{% block content %}
<!-- <p>Django Event Calendar</p> -->
<style>
    .btn-dark {
        background:#565e64;
    }

    #animatedDiv {
  width: 100px;
  background-color: #feff00;
  position: absolute;
  right: -100px;
  transition: right 1s;
}

#animatedDiv.active {
  right: 0;
  transition: right 1s;
  width: auto;
  padding: 20px;
  border-radius: 10px 0 0 10px;
}
 

</style>
<div class="container-fluid p-5 ">
  <form class="" id="titleForm" action="{% url 'generate_article:verify-article' %}" name="my_form"  method="post" onsubmit='showLoading();'>
    {% csrf_token %}
    <div id='loadingmsg' style='display: none;'>Verifying Article, please wait...</div>
    <div id='loadingover' style='display: none;'></div>
    <h1>Write Article</h1>
    <!--<div class="mb-3 text-center">-->
      <!--<h5>Article</h5></div>-->
      <div class="row d-flex justify-content-center">
          <div class="col-9">
                <div class="mb-3">
                  <label for="articletextarea" class="form-label">Article</label>
                  {{ form.articletextarea }}
                  <!--<textarea class="form-control" name="articletextarea" rows="9"  onKeyPress=check_length(this.form); onKeyDown=check_length(this.form); ></textarea>-->
                  {{ form.articletextarea.errors }}
                </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-9">
                <div class="mb-3">
                  <label for="url" class="form-label">Source of Article</label>
                  {{ form.url }}
                  <!--<input type="url" class="form-control" name="url" required>-->
                  {{ form.url.errors }}
                </div>
          </div>
        </div>
        <input type="hidden" name="title" value="{{title}}">
        <input type="hidden" name="subject" value="{{subject}}">
        <input type="hidden" name="verb" value="{{verb}}">
        <input type="hidden" name="target_industry" value="{{target_industry}}">
      <div class="row  d-flex justify-content-center">

          <div class="col-9  d-flex justify-content-center">
              <button class="btn btn-dark" onclick="notify()" >Save Article</button>
          </div>

      </div>
  </form>
</div>
{% block script %}
<script>
  function notify() {
  document.getElementById('animatedDiv').classList.add('active');
 }
    function check_length(my_form)
    {
        maxLen = 280;
        if (my_form.articletextarea.value.length >= maxLen) {
            //Alert message if maximum limit is reached.
            var message = "You have reached maximum number of words allowed for this post";
            alert(message);

            //Reached the maximum length so trim the characters in textarea
            my_form.articletextarea.value = my_form.articletextarea.value.substring(0, maxLen);
        }
        else{
            //maximum length not reached so update the value of articletextarea counter
            console.log("couldn't figure this one out")
        }
    }
</script>
<script src="{% static 'main.js' %}"></script>
{% endblock script %}
{% endblock content %}
